[2021-04-23 03:18] jeffreyhanson opened #90 "Ability to upload settings"
It would be great if users could upload a spreadsheet containing settings (e.g. parameters, theme goals, weight factors, etc) so that could generate solutions without needing to play around with the sliders/buttons.

[2021-04-26 00:22] jeffreyhanson opened #2 "feature widget design"
@ricschuster, I think I've got the widget for setting representation targets working. Could you please take a look at [this demo](https://jeffrey-hanson.shinyapps.io/scpwidgets-demo/)?

We can change the colors when implementing the location app (using CSS), but what do you think about the sizing/positioning/style of the widget? The widget also has the functionality such that we can change the val

[2021-04-26 17:10] ricschuster opened #91 "Add pros/cons of observation data/predictions section to service manual"

[2021-04-27 04:39] jeffreyhanson opened #3 "weight widget design"
I've been working on creating the widget for interacting with weights. @ricschuster, in another issue, I think you mentioned that the user won't care about the specific `factor` used for a weight theme, so should this widget (unlike the goal widget) not show the `factor` values in a textbox? I just wanted to clarify this in case I misunderstood.

[2021-04-27 05:55] jeffreyhanson opened #4 "theme widget design"
@ricschuster, here's my idea for the theme widget. Basically, the idea is the widget has a radio buttons to switch between setting a (group mode) single goal for all features and (individual mode) a goal for each feature individually. Expert users can only access the individual mode. This functionality lets expert users switch between what ever mode makes works best for them on a given theme. For

[2021-04-27 20:17] jeffreyhanson opened #6 "sidebar widget"
Here's my current thinking for the side bar. I think it might be helpful to separate the functionality  for (i) generating new solutions (e.g. setting targets) and (ii) interacting with the map (e.g. ordering different layers on the map). What do you think? For example, a theme would have a widget in the TOC sidebar view (to set plot order, make visible/invisible) and a widget in the "new solution

[2021-04-28 23:32] jeffreyhanson opened #5 "custom widgets"
I've been thinking about all the custom widgets needed for the app, and how we should go about naming them for consistency (note I have used camel-case since that's what shiny uses). Also, I originally thought of having widgets for each feature, but now I think it makes sense to have theme-level widgets that control a single (i.e. widgets starting with `singleTheme`) or set of multiple features (i

[2021-05-04 20:52] jeffreyhanson opened #1 "assorted thoughts on widget design"
@ricschuster, just to keep you in the loop, I realized that it would probably make sense to have the class definitions (e.g. to organize data/settings pertaining to themes) and widgets (e.g. for settings goals for theme) in the same package so that the widgets could work seamlessly with the classes (e.g. we can use a `Theme` object to populate informationing in the widget instead of an intermediat

[2021-05-09 21:45] jeffreyhanson opened #7 "mapManager widget elements"
Since I've (mostly) finished the widget for specifying settings for new solutions (e.g. for setting goals/weights), I'll now work on building the mapManager widget. To start off simple, I'll start building widgets for the themes with a single feature. For this particular case, I think we just need to display (1) the name of the theme, (2) a toggle for making the layer visible/invsible on the leafl

[2021-05-13 22:10] jeffreyhanson opened #8 "scrollbars for solutionSettings widget"
The solution settings widget currently has a single scrollbar that wraps around the entire container. Ideally, it would be better to have scrollbars within each the "Themes" and "Widgets" panels within the widget. Although the scrollbars in the image below overlap with the contents of the widget, this isn't really desireable (I just don't have very good graphics skills). The content within the pan

[2021-05-18 20:06] jeffreyhanson opened #9 "add more weights to the solution pane demo app"

[2021-05-18 20:21] jeffreyhanson opened #10 "R and Shiny resources"
Here's some free online books/resources/tutorials for R and Shiny.

* Online books
  * [R for Data Science](https://r4ds.had.co.nz/): This book provides a useful introduction to R and basic concepts of programming. I generally recommend this for people that want to learn to use R, but maybe this won't be as helpful foir you since you're already familiar with basic programming concepts (e.g. flow c

[2021-05-18 21:19] #8 closed, assigned to nobody

[2021-05-18 21:20] #9 closed, assigned to nobody

[2021-05-18 21:55] jeffreyhanson opened #13 "Horizontal alignment of input text and button in new solution pane"
The sidebar pane for creating new solutions has a text input widget and button that need alignment tweaks. Specifically, it could be improved by updating the horizontal alignment of the text input and button widgets so that they line up with the edge of the themes/weights panels within the sidebar. Ideally, when fixed, the sidebar form the `inst/examples/newSolutionPane` example app would look lik

[2021-05-18 22:12] jeffreyhanson opened #14 "Fixed footer position of text input and button in new solution pane"
The new solution pane widget has a text input and a button widget. These widgets should ideally be positioned along the bottom of the sidebar (e.g. as a fixed footer), so that they can easily be found by the user. This means that when the themes/widgets panels are folded (i.e. minimized), the text input and button widgets should appear at the bottom of the sidebar (see first image below). Addition

[2021-05-18 23:04] jeffreyhanson opened #15 "Missing icons in multi-theme-setting widget"
The multi-theme-setting widgets (i.e. the elements within the new solution sidebar that have a "single" and "group" tab) should have icons within them. Although these icons appear correctly within the solutionSettings test app (under `inst/examples/solutionSettings`), they do not appear within the newSolutionPane test app (under `inst/examples/newSolutionPane`). For reference, the left image shows

[2021-05-19 03:12] jeffreyhanson opened #16 "Categorical legend for map manager sidebar pane"
I'm currently working on creating a map manager sidebar to pane to allow users to control the appearance of layers on a map (e.g. imagine a heat map). As part of this sidebar pane, we want to include legends to help users interpret the map (e.g. places with a blue color have a low value, places with a red color have a high value). Since some of the layers will contain categorical data (e.g. all va

[2021-05-19 22:50] #15 closed, assigned to nobody

[2021-05-20 22:49] jeffreyhanson opened #21 "Continuous legend for map manager sidebar pane"
I'm currently working on creating a map manager sidebar to pane to allow users to control the appearance of layers on a map (e.g. imagine a heat map). As part of this sidebar pane, we want to include legends to help users interpret the map (e.g. places with a blue color have a high value, places with a black color have a low value). Since some of the layers will contain continuous data (e.g. value

[2021-05-21 00:32] jeffreyhanson opened #22 "Maximum height of theme and weight panels"
Currently, the maximum height for the theme and and weight panels in the newSolutionSidebarPane widget is constrained to take up a fixed amount of space when open. It would be amazing if these panels resized automatically so that if one panel was open, and another panel was closed, then the open panel would fill available space in the sidebar (but not overlap with the footer). Is this be possible?

[2021-05-21 03:40] jeffreyhanson opened #23 "Icons for visible checkboxes"
I'm currently working on creating a map manager sidebar to pane to allow users to control the appearance of layers on a map (e.g. imagine a heat map). As part of this sidebar pane, we want to include checkboxes to control whether certain layers are visible on the map. To help make these chexkboxes more intuitive, it would be brilliant if they could be updated so that when they are checked they sho

[2021-05-21 04:06] jeffreyhanson opened #24 "Show/hide legends"
The app will contain a sidebar pane to allow users to control the appearance of layers on a map (e.g. imagine a heat map). As part of this sidebar pane, we want to include legends so that users can interpret the colors on the maps (e.g. red color = high value, blue color = low value). To help with this, the sidebar will contain legends. However, since these legends will (likely) take up a lot of v

[2021-05-24 06:34] #13 closed, assigned to nobody

[2021-05-24 06:34] #14 closed, assigned to nobody

[2021-05-25 21:30] #23 closed, assigned to nobody

[2021-05-25 21:30] #24 closed, assigned to nobody

[2021-05-27 05:28] jeffreyhanson opened #29 "Red eye-slash icon for visible checkbox"
Would it be possible to update the visible checkbox so that it is red when unchecked? Specifically, the checkbox is represented using an fa-eye icon for when it is checked and an fa-eye-slash icon for when it is unchecked, so would it be possible to make the fa-eye-slash icon red? The relevant CSS file to style the checkbox is `inst/htmlwidgets/lib/mapManager-1.0.0/style.css`. Additionally, if the

[2021-05-27 19:49] #29 closed, assigned to nobody

[2021-05-28 03:35] jeffreyhanson opened #31 "Icons for view checkboxes"
Would it be possible to update the view checkboxes so that they show specific icons when checked/unchecked? This issue is similar to https://github.com/NCC-CNC/locationmisc/issues/23, except that it would (1) affect checkboxes with a `view-checkbox` class instead of a `visible-checkbox` and (2) involve specifying a [`plus-square`](https://fontawesome.com/v5.15/icons/plus-square?style=regular) and

[2021-05-28 04:00] jeffreyhanson opened #32 "Style solutionSettings widget"
The solutionSettings widget contains a set of elements for different themes and weights. It has a panel for different themes, and a panel for different weights. I was wondering if you had any ideas for improving its visual style? For example, would it possible/useful to add something to help the user understand that the different themes belong to the theme header (i.e. grey square with header that

[2021-05-30 22:04] jeffreyhanson opened #35 "mapManager widget scroll bar"
The mapManager widget contains controls and legends a set of layers. This widget is located in a pane (i.e. mapManagerPane) in a sidebar. Currently, when the mapManager widget has lots of layers added it it, both the mapManager widget and the sidebar will create a scrollbar. Could you please update the styling for the mapManager widget and the sidebar so that only the mapManager widget will have a

[2021-05-30 22:19] jeffreyhanson opened #36 "Style mapManager widget"
The mapManager widget has pretty minimal styling, and I think it could be improved so that it looks nicer and it more intuitive. Does you have any ideas for improving it?

![img5 (3)](https://user-images.githubusercontent.com/3610005/120121825-be615780-c1f9-11eb-8eb1-2df64c0cf77d.png)

Here's some potential suggestions, (1) ensure that the layer headers don't overlap with the legend text (though t

[2021-06-01 23:33] jeffreyhanson opened #37 "Animate maximizing/minimizing layers on mapManager widget"
Would it be possible to animate maximizing/minimizing the layers on the mapManager widget? Specifically, when the [+]/[-] buttons are clicked on the widget, they could grow/shrink towards the final size instead of immediately changing to meet the new size (sort of like when the themes/widgets panels are maximized/minimized in the solutionSettings widget)? I don't know if difficult this would be to

[2021-06-02 00:05] jeffreyhanson opened #38 "Style layer ghosts on mapManager widget"
The mapManager widget uses the [Sortable](https://sortablejs.github.io/Sortable/) JS library to allow users to re-order items in the widget by dragging-and-dropping them (see video below for example). When users are dragging a given item, a "ghost" (to use the Sortable terminology) appears in the widget (currently shown with a blue background) so that users can see what index/position/order the gi

[2021-06-02 21:51] #16 closed, assigned to nobody

[2021-06-02 21:51] #21 closed, assigned to nobody

[2021-06-02 21:51] #31 closed, assigned to nobody

[2021-06-02 21:55] #36 closed, assigned to nobody

[2021-06-02 22:04] jeffreyhanson opened #39 "Tooltips for the mapManager widget"
I think it would be great if tooltips could be added to the mapManager widget to help users understand what different buttons/text boxes/inputs do. One way to implement these tooltips would be to use the [shinyBS::bsTooltip()](https://ebailey78.github.io/shinyBS/docs/Tooltips_and_Popovers.html) function. What do you think? If it would be helpful, I'd be happy to show how this could be done or prov

[2021-06-02 22:06] jeffreyhanson opened #40 "Tooltips for solutionSettings widget"
I think it would be great if tooltips could be added to the solutionSettings widget to help users understand what different buttons/text boxes/inputs do. One way to implement these tooltips would be to use the [shinyBS::bsTooltip()](https://ebailey78.github.io/shinyBS/docs/Tooltips_and_Popovers.html) function. What do you think? If it would be helpful, I'd be happy to show how this could be done o

[2021-06-06 02:43] #22 closed, assigned to nobody

[2021-06-07 19:43] #35 closed, assigned to nobody

[2021-06-10 18:52] #32 closed, assigned to nobody

[2021-06-11 02:43] #38 closed, assigned to nobody

[2021-06-11 03:25] jeffreyhanson opened #49 "Style remove button for mapManager layers"
The mapManager widget is used to control the appearance of map layers (e.g. heat maps, polygons) on a map. To achieve this, the widget contains elements for different layers, and some of these layers will contain a button (i.e. `remove-button`) so that they can be removed entirely from the app. Could you please update the styling the remove button so that (1) it appears on the far right hand side

[2021-06-11 03:36] jeffreyhanson opened #50 "Specify semi-transparent colors when updating HTML element styles"
The mapManager widget contains legends to help users interpret data shown on a map. These legends are built -- based on data sent from the R backend -- using JS code. Although the legends currently show correct colors when the R backend specifies the colors in RGB hexadecimal format (e.g. `#AABBCC`), it seems that the legends don't show the correct colors when the hexadecimal format contains trans

[2021-06-14 21:00] jeffreyhanson opened #53 "Look into JS data visualization library"
https://apexcharts.com/

[2021-06-14 23:12] #49 closed, assigned to nobody

[2021-06-15 20:49] jeffreyhanson opened #55 "Add apexcharts JS library to solution results widget"

[2021-06-15 23:44] jeffreyhanson opened #57 "solution settings widget JS code review"
It would be really helpful to have code review review performed on the solution settings widget. This widget is pretty much complete for the moment (although it could benefit from some additional functionality, that's really low priority until we've got the app working), so it might it be a good place to start?

The relevant JS code files are:
- inst/htmlwidgets/lib/solutionSettings-1.0.0/utils.js

[2021-06-16 19:11] jeffreyhanson opened #58 "Create small unit test example"

[2021-06-16 19:28] jeffreyhanson opened #59 "Update render methods for solution results widget"
We need another method for the classes to render the apex charts.

[2021-06-22 04:09] jeffreyhanson opened #61 "WebGL context limit"
I've been working on writing code to visualize the features, themes, weights, and solutions on a leaflet map (using a fork of the [leafgl R package](https://github.com/r-spatial/leafgl)). This package uses WebGL to reduce memory consumption (instead of standard leaflet functions which involve adding geojson objects to the DOM). Specifically, it uses the [Leaflet.glify leaflet plugin](https://githu

[2021-06-22 23:19] jeffreyhanson opened #63 "Align map elements to middle (horizontal center) of page"
The leaflet map will contain some elements to help users navigate the map. These elements incude buttons, a minimap, and a scale bar. Although the leaflet R package used to create these elements (in the backend) provides some functionality to specify the location of these elements (i.e. as top right, bottom right, top left, or bottom left), they need to be located in the top and bottom of the leaf

[2021-06-22 23:47] #39 closed, assigned to nobody

[2021-06-22 23:47] #40 closed, assigned to nobody

[2021-06-23 01:34] #50 closed, assigned to nobody

[2021-06-23 01:36] #59 closed, assigned to jeffreyhanson

[2021-06-23 01:36] #55 closed, assigned to jeffreyhanson

[2021-06-23 05:09] jeffreyhanson opened #64 "Weight factor slidebar label"
The solution settings widget is used to specify settings for generating solutions. As part of this widget, users can specify factors for weights using slidebars. @romerojazmin had the awesome idea of adding labels to these slidebars so that users can see their current value. Would it be possible to implement this?

![image](https://user-images.githubusercontent.com/3610005/123038075-da949500-d443-

[2021-06-23 23:51] jeffreyhanson opened #65 "importSettings widget"
It would be great if users could upload their own datasets to the web app. To implement this, we need a widget that users can use to specify which layers/fields/columns are themes, weights, or locked in (potentially another type of dataset, might be dropped though -- I'll get back to you about this). In the `data-import-settings` branch, I've prototyped a importSettings widget that takes an array

[2021-06-28 20:03] #64 closed, assigned to nobody

[2021-06-29 21:23] #61 closed, assigned to nobody

[2021-06-29 21:25] #58 closed, assigned to jeffreyhanson

[2021-06-29 21:26] #37 closed, assigned to nobody

[2021-07-05 19:22] jeffreyhanson opened #76 "acknowledgement text"
As discussed during the meeting, it would be great if you could send me some text to include in the app to acknowledge all your contributions? This can also include links, logos, and/or custom text formatting - what ever you want? I plan on putting this in a new sidebar specifically for acknowedgements - so it can be as long or as short as you like?

[2021-07-05 20:21] jeffreyhanson opened #77 "drop minimap"
@ricschuster mentioned that it would be better to remove the minimap so it's easier to see stuff on the main map.

[2021-07-05 20:38] jeffreyhanson opened #78 "specify that app uses cbc solver specifically"

[2021-07-05 20:41] jeffreyhanson opened #79 "update theme goal label to show min limit when disabled"

[2021-07-05 20:44] jeffreyhanson opened #80 "update labels"
The current label in the solution settings shoudl be "locked in", and the "includes" should be renamed to "Locked In".

[2021-07-05 20:47] jeffreyhanson opened #81 "remove theme icons from app"

[2021-07-05 21:16] jeffreyhanson opened #89 "Ability to save a new project file with solutions generated in a session"
It would be great if users could save a project file containing all the data and also any new solutions generated using the appliation. This would be useful because users could then (1) re-upload/re-use solutions from previous sessions and (2) share solutions with each other.

[2021-07-05 22:29] #77 closed, assigned to nobody

[2021-07-05 22:30] #78 closed, assigned to nobody

[2021-07-06 01:40] #81 closed, assigned to nobody

[2021-07-06 04:21] #63 closed, assigned to nobody

[2021-07-06 04:25] #79 closed, assigned to nobody

[2021-07-06 05:07] jeffreyhanson opened #82 "generate_solution sets goals to zero instead of limit when status = FALSE"
Currently, the generate_solution function effectively sets goals to zero (instead of the limit value) when the theme's status is zero.

[2021-07-06 05:08] #2 closed, assigned to ricschuster

[2021-07-06 05:08] #3 closed, assigned to ricschuster

[2021-07-06 05:08] #4 closed, assigned to ricschuster

[2021-07-06 05:09] #6 closed, assigned to nobody

[2021-07-06 05:09] #5 closed, assigned to ricschuster

[2021-07-06 05:10] #1 closed, assigned to nobody

[2021-07-06 05:11] #7 closed, assigned to nobody

[2021-07-06 21:50] #65 closed, assigned to nobody

[2021-07-06 23:09] #82 closed, assigned to nobody

[2021-07-08 19:51] tanvirislamcu opened #83 "Code Review"
Hey @jeffreyhanson, I am opening this issue for you to guide us through the code review process. Let us know between me and @HanqingZhou who should be reviewing which aspects of the code base.

Thanks!

[2021-07-08 22:47] #53 closed, assigned to jeffreyhanson

[2021-07-09 04:13] #57 closed, assigned to nobody

[2021-07-14 21:52] jeffreyhanson opened #87 "tooltips don't appear correctly for new solutions"
Specifically, the tooltips are not initialized when new solutions are generated for the map manager widget.

[2021-07-14 22:04] #87 closed, assigned to nobody

[2021-07-15 00:51] #76 closed, assigned to nobody

[2021-07-20 01:16] #83 closed, assigned to jeffreyhanson

[2021-07-20 01:38] #10 closed, assigned to nobody

[2021-07-21 21:40] jeffreyhanson opened #92 "NCC acknowledgement text"
The text acknowledging NCC for the development of the app needs to be finalized. @ricschuster, IIRC you mentioned that MM was working on drafting some text to include in the app - is that right? If so, did she send you the text for the app?

[2021-07-21 21:43] jeffreyhanson opened #93 "Contact text"
The text providing contact information needs to be finalized. @ricschuster, IIRC we talked about the following potential options:

Do you have a preference? Or let me know if you have any suggestions?

[2021-07-21 21:50] jeffreyhanson opened #94 "speed up multi-objective optimization"
The multi-objective optimization stuff can take a long time to run when a large emphasis is put on spatial clustering. To avoid this, one potential solution could be to use the solution obtained from the first part of the multi-objective optimizatin process as the starting solution for the second part of the multi-objective optimization. Unfortunately, of the solvers currently supported by priorit

[2021-07-22 19:13] jeffreyhanson opened #95 "Help popup"
Add a popup to the help. This should automatically open on launch for beginner mode. We also a want button to re-open it.

[2021-07-22 19:18] jeffreyhanson opened #96 "Add to tooltips to the new solution sidebar"
This tooltips should be attached to the headers in the accordian headers. These should explain what the themes, weights, includes, and settings do.

[2021-07-22 19:24] jeffreyhanson opened #97 "Issue with map rendering"
For some reason, the features in themes with multiple features aren't showing properly (i.e. visible or non-visible) when other features within the same theme are toggled on/off.

[2021-07-22 19:30] jeffreyhanson opened #98 "Export sidebarpane select input"
This needs some text telling the user to click on the text input to show the drop down menu. Ideally, this would be done using the label option in a pickerInput, so that no additional text is used outside the widget.

[2021-07-22 19:34] jeffreyhanson opened #99 "Multiple basemaps"
It would be useful to allow the user to toggle between multiple basemaps. In total, we should include the: ESRI Worldmap, Toner, Open Streetmaps.

[2021-07-22 19:37] jeffreyhanson opened #100 "Weights should be toggled off by default if factor = 0"
This logic also extends to goals for themes

[2021-07-22 19:40] jeffreyhanson opened #101 "Widget settings should reset between sessions"
Currently, some of the settings (e.g. total budget) persist between settings.

[2021-07-22 19:49] jeffreyhanson opened #102 "Beginner mode isn't being activated when it should"
This happens when (1) manually uploading a project file with (2) the app configured to "project" mode.

[2021-07-22 19:52] jeffreyhanson opened #103 "Current bars in the themes not working"
Specifically, when the user uploads a shapefile, the current bars for the themes don't automatically update based on the selected includes.

[2021-07-22 19:56] jeffreyhanson opened #104 "Make sure the app works with a project that contains only themes"

[2021-07-22 19:57] jeffreyhanson opened #105 "Make sure the app works on MS Edge"

[2021-07-22 20:01] jeffreyhanson opened #106 "Themes and weights labels with no units"
The labels for these elements in the new solution sidebar contain an extra space when no units are specified .
For example: `Current: 7% (1 )`.

[2021-07-22 20:14] jeffreyhanson opened #107 "Limit the number of input charactersin the new solution name text input"
This is to avoid having really long names mess up the alignment of the text labels in the app

[2021-07-22 20:22] jeffreyhanson opened #108 "Add solution spreadsheet download"
This spreadsheet should contain all the summary statistics and input settings used to generate the solution.

[2021-07-22 20:47] jeffreyhanson opened #109 "Add legends to solution results sidebar panel"
These legends be in the themes and weights accordian panels, and show which color is the solution, which color is the current, and which color is the goal.

[2021-07-22 20:48] jeffreyhanson opened #110 "Ability to include cost data"
This cost data would be specified in the project settings, and there would be a specific option to use it in the new solution settings sidebar, and it wold reported in the solution results sidebar as well. This enhacement would also require updating the code used to generate the prioritizations too.

[2021-07-23 00:40] #106 closed, assigned to nobody

[2021-07-23 01:13] #107 closed, assigned to nobody

[2021-07-23 02:22] #100 closed, assigned to nobody

[2021-07-23 02:22] #98 closed, assigned to nobody

[2021-07-23 03:28] #103 closed, assigned to nobody

[2021-07-23 04:24] #99 closed, assigned to nobody

[2021-07-24 01:51] jeffreyhanson opened #111 "Add Heroku deployment"

[2021-07-24 01:52] #111 closed, assigned to nobody

[2021-07-24 02:35] jeffreyhanson opened #112 "Asynchronous processing causes massive increase in memory usage"
This is because it ends up copying the spatial dataset multiple times (i.e. _N_ = number of weights + number of features).

[2021-07-24 23:49] #101 closed, assigned to nobody

[2021-07-24 23:49] #112 closed, assigned to nobody

[2021-07-25 23:26] #102 closed, assigned to nobody

[2021-07-25 23:47] #97 closed, assigned to nobody

[2021-07-25 23:47] jeffreyhanson opened #113 "Shinyapps deployment via GitHub Actions doesn't work"

[2021-07-26 00:58] jeffreyhanson opened #114 "Show results for includes in spreadsheet"

[2021-07-26 00:59] jeffreyhanson opened #115 "Show results for includes in solution results sidebar"

[2021-07-26 02:31] #104 closed, assigned to jeffreyhanson

[2021-07-26 03:39] jeffreyhanson opened #116 "Bottom layer in map manager does not appear on map when should be visisble"

[2021-07-26 04:27] #114 closed, assigned to jeffreyhanson

[2021-07-26 04:27] #115 closed, assigned to jeffreyhanson

[2021-07-26 06:27] #116 closed, assigned to jeffreyhanson

[2021-07-26 10:06] #96 closed, assigned to jeffreyhanson

[2021-07-27 20:29] jeffreyhanson opened #117 "Weight slider can be changed when toggle is off"
It would appear that this bug also pertains to settings and themes. Basically, when initializing the widgets, the JS code doesn't disable the sliders if the status is false (it only turns off the toggles).

[2021-07-27 20:31] jeffreyhanson opened #118 "Remove layer tooltips seem to stay on screen after a solution is removed"

[2021-07-27 20:50] jeffreyhanson opened #119 "automatically set goal limits using GIS data"
@josephrbennett had the idea of automatically setting goal limits (for beginner mode) based on GIS data (e.g. by overlaying a feature's distribution data with a protected area layer). This could be really useful to inlcude in the GIS plugin  tool that JC's working on - what do you think @JCLaurence and @ricschuster?

[2021-07-27 20:56] jeffreyhanson opened #120 "update readme with instructions for installing + running app via R"
Once finished, I should send a copy of the instructions to @josephrbennett and Jaimie

[2021-07-29 01:03] #120 closed, assigned to nobody

[2021-07-29 02:08] #117 closed, assigned to nobody

[2021-07-29 02:21] #118 closed, assigned to nobody

[2021-07-29 23:31] #108 closed, assigned to jeffreyhanson

[2021-07-30 00:02] #95 closed, assigned to jeffreyhanson

[2021-07-30 00:06] jeffreyhanson opened #121 "Help popup text"
The help popup simply contains "TODO" placeholder text. Before release, this placeholder text should be replaced with helpful information. Once the manual is mostly complete, I suggest that we simply copy-paste (and tweak) relevant parts of the manual into this popup to provide the helpful information. What do you think @josephrbennett and @ricschuster? To update the help popup content, this file

[2021-07-30 02:14] #109 closed, assigned to jeffreyhanson

[2021-07-31 00:36] #113 closed, assigned to jeffreyhanson

[2021-07-31 00:49] jeffreyhanson opened #123 "Increase character limit for solution names"
From @josephrbennett: Could the names of the individual runs be made longer? The character limit seems like it could be expanded, in case users are fond of descriptive names.

[2021-07-31 00:51] jeffreyhanson opened #124 "Realistic example project"
It would be great to add a realistic example dataset to the example projects distributed with the app for testing. @ricschuster, when you get a chance, could you please send me a subset of your Canada-wide prioritization (e.g. for just one county or province) and I can add it?

[2021-07-31 03:18] #123 closed, assigned to nobody

[2021-08-06 03:52] jeffreyhanson opened #127 "URLs in README need finalizing"
The URLs in the README that point to the online version of the app need be updated. They currently contain TODOs, because we have not yet decided where the app will finally be hosted.

[2021-08-10 20:16] jeffreyhanson opened #128 "Multiple sidebars don't work in Firefox"

[2021-08-10 21:22] jeffreyhanson opened #129 "Make public and set up GitHub Actions"

[2021-08-10 22:49] #127 closed, assigned to nobody

[2021-08-11 00:58] jeffreyhanson commented on #124
Done. The Ontario pilot project data has been added to the built-in projects (see https://github.com/NCC-CNC/wheretowork/tree/master/inst/extdata/projects/ontario_pilot)

[2021-08-11 00:58] #124 closed

[2021-08-11 00:58] jeffreyhanson commented on #129
Done

[2021-08-11 00:58] #129 closed

[2021-08-11 01:00] jeffreyhanson commented on #80
I think we chatted about this in a previous meeting and decided to stick with "Includes" to follow a consistent terminology with "Themes" and "Weights" - so I'll close this issue now. Please feel free to reopen this issue if you want to keep discussing this.

[2021-08-11 01:00] #80 closed

[2021-08-11 02:46] ricschuster commented on #105
Taking screenshot creates errors:

Access to XMLHttpRequest at 'https://stamen-tiles-b.a.ssl.fastly.net/toner/8/71/90@2x.png' from origin 'https://ncc.carleton.ca' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.
VM210:1 cannot fetch resource: https://stamen-tiles-b.a.ssl.fastly.net/toner/8/71/90@2x.png, status: 0
r @ VM210:1
i @ VM210:

[2021-08-11 02:50] ricschuster commented on #105
'Open sidebar to evaluate solutions' is greyed out. Works to look at (all) solutions after optimization is run, but once I click on "Open sidebar for generating new solutions" I can't get back and need to run a new scenario to get there again.

[2021-08-11 02:56] ricschuster commented on #105
Everything else seems to work well.

[2021-08-11 04:10] jeffreyhanson commented on #105
Awesome - thanks so much for catching all these issues. I'll take a look and see what I can do.

[2021-08-11 13:45] ricschuster opened #130 "Results cake plots"
The cake plots might be a bit confusing to users.
The following scenario is from the Ontario pilot, with min set.

First cake plot:

![image](https://user-images.githubusercontent.com/3445092/129039299-9e0544ce-1829-479e-b70f-ccacc3f64fc1.png)

Second cake plot:

![image](https://user-images.githubusercontent.com/3445092/129039353-54147536-9682-4eee-b56a-b5bc050aa2a0.png)

You can see that both ha

[2021-08-12 05:59] #128 closed

[2021-08-12 06:22] jeffreyhanson commented on #105
It seems like the screenshot issue be associated with the underlying Javascript library (https://github.com/rowanwins/leaflet-easyPrint/), because there are several issues that mention a similar error (see https://github.com/rowanwins/leaflet-easyPrint/search?q=CORS&type=issues). So I don't think this is something I can easily solve. Given that, would you prefer (1) keep this functionality and jus

[2021-08-12 06:28] jeffreyhanson commented on #130
Thanks for catching this. I can try tweaking the plots it to give a consistent appearance in such cases.

Regarding the legends, yeah, I put "Includes" there because I thought "current" might be confusing -- because if you generate a solution and change which includes are selected, then the includes settings previously used to generate the solution aren't "current" anymore. Shall I change the text

[2021-08-12 06:58] jeffreyhanson commented on #105
I was able to borrow a computer with Edge installed and it seems like it's only a problem for the Stamen basemap - so perhaps one fix is to replace the Stamen basemap with a different one? What do you think? If that sounds like a good idea, can you take a look through the leaflet basemap providers (see https://github.com/rstudio/leaflet.providers) and tell me which one should be used instead of St

[2021-08-12 13:06] ricschuster commented on #105
That sounds promising.
I've used `CartoDB.Positron` before. Maybe that one works?

[2021-08-12 13:08] ricschuster commented on #130
Thanks Jeff!

Using "Included" sounds good to me, thanks!

[2021-08-12 18:33] ricschuster opened #131 "Total number of pu's"
Would be good to show total number of pu's (perhaps in the solution summary).

[2021-08-12 18:34] ricschuster opened #132 "change layer colours in the table of content"

[2021-08-12 21:51] jeffreyhanson commented on #105
Ok, I'll try that and see if it works.

[2021-08-12 21:57] jeffreyhanson commented on #132
I really like this idea! I think it would make the app a lot more interactive, and help facilitate more customization/exploration of data. Unfortunately, this would also be a lot of work. Since this would require extending some of the custom JS/HTML widgets in the app, I can't simply drop in pre-made widgets from other R packages to implement this functionality -- meaning that I would have to writ

[2021-08-12 21:59] jeffreyhanson commented on #131
Sure - I can add this fairly easily.

[2021-08-12 22:34] jeffreyhanson commented on #105
I've added the CartoDB Dark Matter map (because it's monochromatic, and so a better replacement for the Stamen toner map) and  checked that the screenshot functionality now works on MS Edge. I also updated the sidebars yesterday so that they now work on Firefox, and this update also fixed the sidebar issues on MS Edge too. So, I think this has addressed all the MS Edge issues - so I'll close this

[2021-08-12 22:34] #105 closed

[2021-08-12 22:55] #131 closed

[2021-08-13 00:44] ricschuster commented on #132
No worries at all. I just wanted to provide the feedback from people here. What do you think about labels that indicate that issues aren't urgent at all? We could do something like 'staff suggestions' or something similar? It would be good to capture them, but also indicated that they are comments and not requests at this point. Would be good to collect them and eventually have discussions about f

[2021-08-13 00:47] jeffreyhanson commented on #132
Ok - sounds good. Yeah, I like the idea of adding a label to identify stuff we can do later. I've seen a "sometime" label used in other GitHub repo's to denote possible enhancements that could be potentially be added in the future - what do you tihnk?

[2021-08-13 01:32] jeffreyhanson opened #133 "weights don't seem to affect solutions as much as expected"
This is probably due to some bug when transforming the weight values.

[2021-08-13 02:21] ricschuster commented on #132
sometime it is. Added the label.

[2021-08-13 02:22] jeffreyhanson commented on #132
Great-  thanks! I'll tag other issues with this label too. Also - I'll change the color because the "high priority" label is black - which might get a bit confusing.

[2021-08-13 02:25] ricschuster commented on #132
Sorry about the color. I'm using the dark theme where the contrast is fine.

[2021-08-13 02:26] ricschuster opened #134 "save the current state of the app and resume later or share URL"

[2021-08-13 02:31] jeffreyhanson commented on #132
Ah - no worries! Is the new label color ok on the dark theme?

[2021-08-13 02:32] jeffreyhanson commented on #134
Yeah, I really like this idea!

[2021-08-13 03:25] jeffreyhanson commented on #130
I think I've fixed this issue and pushed an updated version online (i.e. ncc.carleton.ca), could you please take a look and double check that it's fixed? Under this new version, the pie slices will have a small amount of padding to break ties (e.g. if current == goal,  then goal will have a small padding so that it sticks out past the current). What do you think?

[2021-08-13 16:09] ricschuster commented on #130
This is perfect! Thanks very much!

[2021-08-13 16:09] #130 closed

[2021-08-14 00:19] jeffreyhanson commented on #133
This bug was caused by two underlying issues. Specifically, the continuous legends were displaying values incorrectly (they were reversed such that high values were depicted with the color for low values, and vice versa), and the code used to calculate cost values based on the weight status values was incorrect.

[2021-08-16 12:58] ricschuster commented on #133
I thought there was something strange going on with the weights. Great to hear that you have identified the source.

[2021-08-16 21:46] jeffreyhanson commented on #133
Yeah, sorry abou that, it should be working now. I fixed with commit 2c09103f06c3ffbd5e2c46e08e6298121641444b fixed (but accidently tagged it with the wrong issue number). Let me know if something strange is still going on though, and I can look into it further?

[2021-08-16 21:46] #133 closed

[2021-08-16 21:49] jeffreyhanson opened #135 "Turn off solutions on main map"
Joe had this comment about the app:

The solutions should be able to be toggled on/off by clicking the eye icon/button (similar to the other layers), so I think this functionality is already present in the app - maybe this just needs to be emphasized in the manual?

[2021-08-16 21:51] jeffreyhanson opened #136 "Make hide layers able to return to showing the layers"
Joe had this suggestion for the app:

It would be fairly tricky to have the same button toggle all layers on/off, so I'll create a second button to do this. This way there will be one button to toggle off all layers, and a second button to toggle all of them on.

[2021-08-16 21:52] jeffreyhanson opened #137 "solution results sidebar bug"
Joe found this bug in the app:

[2021-08-16 22:00] jeffreyhanson opened #138 "Solution name text input"
Joe had this suggestion for the app:

The current character limit is the maximum we can do unless we (1) increase the width of the sidebars (not easy to do and will likely mean lots of work re-aligning sidebar components), (2) decrease the font size, (3) add a second lager text box so that users can input more verbose information (e.g. like a description box), or (4) are happy with text side-scrol

[2021-08-16 22:06] jeffreyhanson opened #139 "spatial clustering run time"
Joe had this comment about the app:

Yeah, it would be great to reduce run time for spatial clustering. The prioritizations are generated using a multi-objective approach that comprises two sequential optimization runs (one to find a solution based on goals + weights, and a second one that adds spatial clustering). One approach to reduce run time for spatial clustering would involve (1) using a st

[2021-08-16 22:07] jeffreyhanson commented on #139
This issue is also simialr to run time stuff talked about in https://github.com/NCC-CNC/wheretowork/issues/94

[2021-08-16 22:24] #136 closed

[2021-08-16 22:47] jeffreyhanson commented on #135
@josephrbennett, have I got this right? Does clicking the eye icons for the solutions provide the desired functionality? Or did you mean something esle? Sorry if I'm missing something.

[2021-08-16 23:43] #137 closed

[2021-08-17 00:01] josephrbennett commented on #135
THanks - will retry. Server crashed tonight.

[2021-08-17 00:03] jeffreyhanson commented on #135
Ah ok - no worries. I'm manually pdating the apps on the server, so give me a moment to get them running again.

[2021-08-17 00:03] josephrbennett commented on #138
I don't see an issue with side-scrolling, but this is such a small issue that I'm happy to go with whatever is easiest and you like best. Thanks!

[2021-08-17 00:09] jeffreyhanson commented on #135
Ok, I've got the updated apps running on the server now.

[2021-08-17 00:16] josephrbennett commented on #135
OK, great! Thanks a lot. New icon looks great. I was wondering if say one does several runs, if one can turn certain ones (rather than all) on and off at will - analogous to the eye icon but with more flexibility?

![map (1)](https://user-images.githubusercontent.com/33939350/129644428-b67a1540-bf94-468f-ab5e-74edaccbee42.png)

[2021-08-17 00:16] josephrbennett commented on #135
We can see in attached map that there's overlap between one run (blue) and another (red) - overlap is purple. Would be great to be able to turn one or another off?

[2021-08-17 00:32] jeffreyhanson commented on #135
Yeah, you can use the eye buttons in the sidebar to toggle individual layers on/off on the map. So, you could use this to turn one solution on and another solution off. Does that provide the functionality you're looking for? Sorry if I'm missing something.

![Screenshot_20210817_122925](https://user-images.githubusercontent.com/3610005/129645514-60e508e4-cb89-470e-af30-089ecff4481c.png)

[2021-08-17 00:38] jeffreyhanson commented on #138
Ok sounds good. @ricschuster, what do you think? IIRC we had some discussion about this and you had concerns that the horizontal side-scrolling might confuse users (e.g. they might mistakenly think that the text was being deleted)?

[2021-08-17 02:49] ricschuster commented on #138
I might remember this wrong, but I thought we mostly talked about (1). I think (4) would be okay for the app, but wasn't there something in either the results tab/tables or with the download table that could be an issue? Might just be my imagination, but I thought we had concerns about that.

[2021-08-17 02:52] ricschuster commented on #139
I think this is not critical for now, but we could try to figure this out in the next iteration.

We (NCC) could eventually also approach Gurobi and ask them if we could get a free license from them, given our line of work, but I'm not sure how far that is off and how realistic it actually is.

[2021-08-17 05:55] jeffreyhanson commented on #94
Closing this because it is a duplicate of #139

[2021-08-17 05:55] #94 closed

[2021-08-17 10:45] josephrbennett commented on #135
Yes, I'm sorry - that's perfect! Sorry I missed it.

[2021-08-17 10:48] josephrbennett opened #140 "0% area error message"
0% area budget seems to allow optimisation but generates an error message. This is fine of course, but could either have a warning, or just discuss this in the manual? Perhpas the latter is easier.

[2021-08-17 11:54] josephrbennett opened #141 "total area budget and includes"
I'm pretty sure this isn't a technical issue - just something I don't understand. If I put total area budget to 100% and select all the includes, the solution seems to get to 79% of area. If I unselect the includes, it gets up to 100% (which is what I'd have expected for both runs). It's almost certainly something I'm missing, but figured I should mention just in case.

[2021-08-17 12:44] josephrbennett opened #142 "themes vs includes - shutting off both causes crash?"
I've left it running for a while so may resolve, but it looks like shutting off all themes and includes causes a crash. Obviously not a real scenario, but I'm trying to break it...

Maybe this is a coincidence, but things seem otherwise stable and I've tried it 2X. Perhaps there needs to be a stop and a warning instead?

[2021-08-17 20:08] jeffreyhanson commented on #141
Yeah - that's strange. I would have expected 100% of the area to be selected in both cases. Do you remember what the targets were? I wonder if they were low enough such that they could all be met with < 100% of the study area selected (and so selecting 100% and 79% of the study area is optimal)?

[2021-08-17 20:10] jeffreyhanson commented on #142
Thanks so much for catching this. It's not really valid to generate a solution without a single theme toggled on, so I'll have it throw a error popup if users try generating a solution without a theme --- meaning that they shouldn't encounter this crashing issue.

[2021-08-17 20:12] jeffreyhanson commented on #140
Thanks for catching this. Yeah, I could update the app to (1) throw a specific error message saying that 0% budgets are not acceptable, or (2) update the slide bar for the area budget so that the smallest value is 1% (so it's not possible to do a 0% budget with budget turned on). I think (2) might provide a better user experience - what do you think?

[2021-08-18 00:55] jeffreyhanson commented on #139
I've been playing around with various methods to speed up the optimization process. It seems that these methods do have some success - but solving the case-study problem with no selected Includes will still take ages. These methods involve modifying the secondary optimization run used to promote spatial clustering to:

1. Use the initial solution based on just cost + features + weights as a starti

[2021-08-18 03:27] #142 closed

[2021-08-18 03:49] #140 closed

[2021-08-18 03:58] jeffreyhanson commented on #141
Yeah, I just looked into it and my earlier suspicious were correct. Assuming you're using the default goals, then you don't actually need to select 100% of the study area in order to meet them. As such, the optimization process won't neccesarily select 100% of the study area even if you  set a maximum area of budget of 100%. To verify this, if we (1) generate a solution with default settings and a

[2021-08-18 03:58] #141 closed

[2021-08-18 04:00] jeffreyhanson opened #143 "Add column to themes results table indicating if goals met"
It would be useful to add a column to the themes results table indicating which goals hav been met.

[2021-08-18 06:40] #143 closed

[2021-08-18 09:46] jeffreyhanson commented on #139
@josephrbennett, I've just pushed a new version of the app to https://ncc.carleton.ca/ with the speed improvements mentioned above. When you get a chance, could you please take a look and see what you think?

[2021-08-18 10:12] jeffreyhanson commented on #138
Ah, yeah, that might have been it. I'll play around with it and see what I can do.

[2021-08-18 12:41] ricschuster commented on #139
Thanks Jeff!
Which points did you incorporate? Looks like not 4., but how about the other ones?

[2021-08-18 19:59] jeffreyhanson commented on #139
Yeah, that's right, I've incorperated all 6 except for 4 into 53f72dd.

[2021-08-18 20:01] jeffreyhanson commented on #135
Ah -no worries - I'll close this issue now since we've resolved it.

[2021-08-18 20:01] #135 closed

[2021-08-18 20:03] ricschuster opened #144 "Pilot prep including features per theme"
@jeffreyhanson, how would I need to modify this script:
inst/scripts/format-ontario-pilot-data.R
to allow for more than one feature per theme?

[2021-08-18 21:41] ricschuster opened #145 "write_project function kills R"
Hi Jeff,

I've just modified your Ontario pilot data script and got all the way to the `write_project` part:

[code]

When I go ahead and run this code my R session quits. No warning or anything, it just closes. Do you have ideas how to trouble shoot this?

[2021-08-18 22:06] jeffreyhanson commented on #145
Hmm, that's weird. Can you send me the script and I'll take a look at it?

[2021-08-18 22:09] jeffreyhanson commented on #144
Yeah, when creating a theme using the `new_theme()` function, you would pass in a list of `Feature` multiple objects instead of a single `Feature` object (see [here](https://github.com/NCC-CNC/wheretowork/blob/master/tests/testthat/test_new_theme.R#L187-L214) for example).

[2021-08-18 22:11] ricschuster commented on #145
Data and script are here: https://github.com/ricschuster/Tool1_pilot_QC
`prep_Tool1_update.R`
Thanks Jeff!

[2021-08-18 22:12] ricschuster commented on #144
Cool, thanks!

[2021-08-18 22:12] #144 closed

[2021-08-18 22:25] jeffreyhanson commented on #145
When you run the code, do any of the files get created in the output folder or only some of them?

[2021-08-18 22:27] josephrbennett opened #146 "Solution table slight syntax issue"
The solution table weights have some strange font, e.g. "<div>Aggregate </div><div>Threats</div>"

[2021-08-18 22:27] josephrbennett commented on #146
sorry, didn't come through correctly: <div>Aggregate </div><div>Threats</div>

[2021-08-18 22:28] josephrbennett commented on #146
Ugh...  not coming through github comment pane... if you have a look at a run you'll see what I mean.

[2021-08-18 22:31] jeffreyhanson commented on #146
Thanks for catching that! Yeah, I know what you mean - I'll fix that now.

[2021-08-18 22:31] jeffreyhanson commented on #145
I noticed that some of the theme/feature/include/weights names had accents - I wonder if this could be causing issues?

[2021-08-18 22:39] josephrbennett opened #147 "numbers in Excel exports tables for themes, weights and includes are formatted as text"
really not a big deal and easily fixed in Excel. So if there is no easy fix, no problem.

[2021-08-18 22:44] jeffreyhanson commented on #147
Ok thanks for catching this. It looks like it should be possible to address this. I'll play around with this and see what I can do.

[2021-08-18 22:44] josephrbennett opened #148 "Possible non-issue: when weights set to 100, solution can be less than current"
sorry if I'm missing something glaringly obvious... When weighting roads at 100 and locking in protected areas (only - not buffers or policy areas), it appears that the solution has less road than current. See file.
[hgghg_weight_results.xlsx](https://github.com/NCC-CNC/wheretowork/files/7010577/hgghg_weight_results.xlsx)

[2021-08-18 22:50] jeffreyhanson commented on #148
Yeah, so weights are things we want to avoid in the solutions. Specifically -- for the min set formulation (i.e. no budget) -- the weight data are used to specify "cost" values for the optimization run (and the relative importance of different weights is based on their relative factors [i.e. slidebar value]). So, we would expect increasing the factor for a weight to result in solutions that have l

[2021-08-18 23:49] ricschuster commented on #145
None of them.

[2021-08-18 23:50] ricschuster commented on #145
That could be it. Will try changing them tomorrow.

[2021-08-18 23:54] jeffreyhanson commented on #145
Ok - this suggests that it might be code writing the YAML file that is failing (since this is the first file that should be written).

What happens if you try running the following code (after running everything except `write_project(...)` in the script):

[code]

[2021-08-19 00:02] #146 closed

[2021-08-19 01:23] #147 closed

[2021-08-19 04:41] #138 closed

[2021-08-19 04:44] jeffreyhanson commented on #138
I've just pushed an update that increases the maximum character length from 21 to 50. If more than ~20 characters are used for a solution name, then only the first ~20 characters will be visible given the length of the picker input (i.e. solution name select button/drop-down menu combo). However, the full name can be viewed by clicking on the picker input, because the width of the drop-down menu w

[2021-08-19 11:33] josephrbennett commented on #148
Right on - thanks! Maybe we can discuss when we meet, just so I'm clear?

[2021-08-19 12:26] ricschuster commented on #145
R still crashes without throwing an error.
I've also tried the accents and unless I've missed some, the problem persists.

[2021-08-19 12:59] ricschuster commented on #145
It was the `.` in some of the variable names that messed things up. I've replaced them with ` ` and it works now.

[2021-08-19 13:45] ricschuster commented on #145
I did push the project to the server, but now get this error:

![image](https://user-images.githubusercontent.com/3445092/130079440-8b3fc705-9607-42f7-b31c-44424dec28a3.png)

Do you have a way to test projects setup, so I can figure out what went wrong?

[2021-08-19 15:38] ricschuster opened #149 "Differentiate National and Regional datasets"
Suggestion from Cindy McCallum (BC GIS): I think it might be nice to be able to differentiate between the National and Regional datasets – maybe some kind of flag on the National ones?

[2021-08-19 19:00] jeffreyhanson commented on #145
Yeah, if you clone the repo, and then use `make debug`, then it will launch the app locally. Now it will print stuff to the console when you get an error. You can import the project manually to test it (i.e. manually uploding project files). Does that help?

[2021-08-19 19:01] jeffreyhanson commented on #145
Or, just copy in the project files into `./inst/extdata/projects` temporarily to debug it (but don't push these files to GitHub unless you want them included as a built-in demo dataset).

[2021-08-19 19:13] ricschuster opened #150 "Goal value reset"
From call with regions: It would be good to have a way to reset goal values.
Could be by including the default goal value as text
Another option is a theme/layer specific reset button if not too complicated

[2021-08-19 20:21] jeffreyhanson commented on #150
Yeah, we could add a button to reset the goals.

[2021-08-19 20:23] jeffreyhanson commented on #149
Yeah, I like the idea of providing more information on each dataset within the application. We could add a specific field to differentiate between National vs. Regional datasets to display different icons for them, but I wonder if maybe a more general descrtion text would be more helpful? We have it so that when the user mouses-over the name of a theme/weight/include the app shows the description

[2021-08-19 20:28] jeffreyhanson commented on #145
To avoid this in the future, I'll update the code so that you can't create variable with a `.` its name (i.e. it will throw an error).

[2021-08-19 20:28] ricschuster commented on #149
A general description text sounds good too. Would be a neat feature, especially if projects are shared with external partners.

The ability to specifically differentiate between National and Regional data would be good though, because National data is under the control of the National team. These are data that will have to be included in an analysis. Regional data are under the control of each reg

[2021-08-19 20:29] ricschuster commented on #145
Thanks!

[2021-08-19 20:29] jeffreyhanson commented on #145
Ah - just to be clear do you mean the "index" for a varible? I just checked and variables don't have "name" (strictly speaking).

[2021-08-19 20:32] jeffreyhanson commented on #145
It's the theme/includeweight name specifically.

[2021-08-19 21:53] jeffreyhanson commented on #149
Ok sounds good! Ok, based on that, it seems to me that there is a need to differentiate between "optional" vs. "important" datasets (as opposed to National or Regional specifically). Is that generalization correct? If so, we could include a field for each theme/weight/include that specifies if something is "critical" or not (i.e. a boolean field), and if something is critical, then we could add an

[2021-08-20 12:18] ricschuster commented on #149
NCC specific we have 'national' and 'regional'. That's the way we have talked about themes from the beginning and what makes most sense to people. Not sure about the best way to visualize that in the app. Given that these two states are NCC specific, I wonder whether this could be generalized as well. I imagine for the public facing version, we could have a category of 'built in' and 'user supplie

[2021-08-20 12:25] ricschuster opened #151 "Baselayers"
This is totally a personal preference, but I find the Monochrome baselayer way too dark and would rather include something light like `CartoDB.Positron`.

Might be worth asking a couple people about this to determine what most people like and go with that?

[2021-08-20 17:44] ricschuster commented on #145
I've finally got the pilot data to work on the server.
The yaml issue, we've already addressed/talked about.

The rest was related to the special characters in French. I had to convert them all to 'normal' characters for this to work. I did it for both the layer names and the variable names. Not sure why this is an issue.

[2021-08-20 17:47] ricschuster opened #152 "Upload project data bug"
The `Select spatial data` section of the widget only supports shapefile data now, not raster anymore. This is probably caused by the change made during yesterdays call.

![image](https://user-images.githubusercontent.com/3445092/130273266-09409a81-5a52-4303-b6ec-d334c81d44db.png)

[2021-08-23 02:30] jeffreyhanson commented on #152
Ah - thanks for catching this!

[2021-08-23 02:32] #152 closed

[2021-08-23 02:41] jeffreyhanson commented on #145
It seems that the encoding issue is related to the yaml R package (see https://github.com/viking/r-yaml/issues/90). To address this, I'll try wrapping the names in `enc2utf8(...)` before writing them to disk.

[2021-08-23 02:54] #145 closed

[2021-08-23 02:55] jeffreyhanson commented on #148
Sorry - I completely forgot to respond to your message. Yeah, we can chat about this during our next meeting.

[2021-08-23 02:56] jeffreyhanson commented on #151
No worries - I'm happy to add `CartoDB.Positron`. I'll do that now.

[2021-08-23 03:12] jeffreyhanson commented on #150
Woops, accidently tagged wrong issue

[2021-08-23 03:13] jeffreyhanson commented on #151
This issue was fixed by 43e23253ce65c24057c76b9968e79630ae206913

[2021-08-23 03:13] #151 closed

[2021-08-23 13:01] ricschuster opened #153 "DockerHub pull"
Does a DockerHub pull make any changes to the /opt/wheretowork/projects directory?
I'm sure I added the `quebec_pilot` folder to the projects folder on Friday, but this morning it was gone.
I've added it again now, but am curious what might have happened?

[2021-08-23 18:55] ricschuster opened #154 "Table of contents colors"
@jeffreyhanson if I remember correctly you mentioned that having color picking functionality in the table of contents is complicated. Did I get that right? If so, lets leave as is and I just label this as `sometime` for now.

[2021-08-23 20:39] jeffreyhanson commented on #154
Yeah that's right - thanks for positing it here so we don't forget about it.

[2021-08-23 20:46] jeffreyhanson commented on #153
Nah - this is totally my fault for manually updating the server and not paying enough attention to what I was doing. Since we updated the app to include weight/include/theme checks to prevent `.`'s in the names, I needed to update the pilot case study dataset because a couple of the layers had `.`'s in their names. So, I did this by sshing into the server, deleting the `/opt/wheretowork/projects`

[2021-08-23 20:58] ricschuster commented on #153
Good to know that my mind is still somewhat working and that this can be explained. No worries at all about nuking the directory, was an easy fix.

IT does backups. Not sure what the usual procedures are for shared directories, but excellent point, we need to eventually figure that out.

[2021-08-24 02:57] jeffreyhanson commented on #153
Ok - glad to hear it was an easy fix.

Hmm, perhaps in the short term, we could put all the project data in a GitHub repo? It seems like the data isn't too large for it to be problem on GitHub yet.

I think I've answered your question on this, so I'll close this issue now - but please feel free to re-open if anything's not clear.

[2021-08-24 02:57] #153 closed

[2021-08-26 20:46] jeffreyhanson opened #155 "Update weight handling min_shortfall_result"
The weights should be handled using `<=` constraints, based on the `add_linear_constraints()` function. The advantage with this is that weights affect the total amount held in a solution, rather than simply locking out planning units.

[2021-08-26 20:48] jeffreyhanson opened #156 "Update weight scaling"
We need to allow users to specify a (1) positive weight factor if the incluiosn of a layer in the solution is desireable, and (2) negative weight factor if the exclusion of a layer in a solution is desireable. This will require updating the code for how the weights are handled for both the `min_set_result()` and `min_shortfall_result()` functions. It will also require uddating the user interferfac

[2021-08-26 23:25] #156 closed, assigned to nobody

[2021-08-26 23:26] #155 closed, assigned to nobody

[2021-08-27 00:04] jeffreyhanson opened #157 "How to handle weights on beginner mode"
The beginner mode of the application does not provide slidebars for weights. As such, toggling weights on/off under beginner mode, has no effect on the weights (because thier default value is 0). To address this, I was thinking one approach could involve setting the factors to -99 and 0 when toggling the weights on and off (respectively -- only under the beginner mode). @ricschuster,  what do you

[2021-08-27 17:00] ricschuster opened #158 "BC pilot error"
Here the repo with all the files for this issue: https://github.com/ricschuster/Tool1_pilot_BC
`prep_Tool1_update.R` has the code for prepping the data for the app.

When I upload the project files `/out/bc_pilot/*` the app loads them alright. I can see the layers and everything, but when I try to run the optimization I get an error:

![image](https://user-images.githubusercontent.com/3445092/1311

[2021-08-27 22:33] #157 closed, assigned to nobody

[2021-08-27 23:48] #158 closed

[2021-08-27 23:50] jeffreyhanson commented on #158
I've just pushed an update so that the prioritization functions will automatically remove planning units with no weights/themes/includes (i.e. planning units where all such data are zero). This seems to fix the issue on my system - let me know if you still run into issues?

[2021-08-28 12:05] ricschuster commented on #158
Thanks very much Jeff! Its working for me too.

Why do you think this is an issue in the app, but when I run the prioritzr code that's in the prep_Tool1_update.R script ((Lines 225+) it works okay?

[2021-08-28 22:02] jeffreyhanson commented on #158
Oh - I dunno. The app does a bunch of re-scaling stuff to avoid potential numberical issues (see https://github.com/NCC-CNC/wheretowork/blob/master/R/fct_min_set_result.R#L248-L271), maybe that combined with the sparsity was causing issues?

[2021-08-29 13:03] ricschuster commented on #158
Thanks Jeff! Great to see that its working.

[2021-09-03 18:54] ricschuster opened #159 "Project import error message"
When trying to upload a project dataset that was compiled with the `write_project` function I sometimes get an error message like this:

![image](https://user-images.githubusercontent.com/3445092/132053479-aca78890-4e8b-43fb-a4aa-e2b301429676.png)

Most of the time I'm able to figure it out, but I was wondering if you can think of a way to make those error messages a bit more informative?

[2021-09-04 00:04] jeffreyhanson commented on #159
Have you tried uploading this project dataset to a version of the app that is runing locally on computer (e.g. launched via the system command `make debug`)? IIRC,  it should print the R error message to console when you do this?

[2021-09-07 03:36] jeffreyhanson commented on #132
Closing this because it's a duplicate of #154

[2021-09-07 03:36] #132 closed

[2021-09-07 04:48] #150 closed

[2021-09-07 04:55] jeffreyhanson commented on #159
We could add something like a download error log option to the app that contains a traceback for the error. Would that provide the functionality you're looking for? If so, should this option be provided in both the beginner and advanced modes, or just the advanced more?

[2021-09-07 21:11] jeffreyhanson commented on #159
@ricschuster, could you send me a copy of the project dataset that's not working? This would help me ensure that the downloaded error log contains useful information.

[2021-09-07 21:23] ricschuster commented on #159
Thanks @jeffreyhanson !
Its the current project dataset here: https://github.com/ricschuster/Tool1_pilot_BC
Located in out/bc_pilot/
The `sar_theme` is the issue.

[2021-09-07 21:25] ricschuster commented on #159
Depending on how you envision serving this information up to the user, it would be useful to have it in both modes I think. This way beginners can copy/paste the log and ask for help.

[2021-09-07 21:26] jeffreyhanson commented on #159
Ah ok - thanks!

Ok sounds good!

[2021-09-07 22:40] jeffreyhanson commented on #159
In addition to providing the option to download the error log, I was thinking it might be helpful to provide instructions to tell the user to email the error log to a person to resolve this issue. At the moment, this would just be you because you're the only person creating the projects. However, in the future, other people will be creating projects too. As such, should the project configuration f

[2021-09-07 22:43] jeffreyhanson commented on #159
Or should all error logs be reported to you?

[2021-09-07 22:55] ricschuster commented on #159
Lets do that for now. Adding an email field to the project file would be good though, so we can use it later if we want to.

[2021-09-07 23:00] jeffreyhanson commented on #159
Ok - can do. I can also update the app to default to your name and email address if the project configuration YAML file is missing these fields.

[2021-09-07 23:14] ricschuster commented on #159
Thanks Jeff!
I like the 'default to' idea.

[2021-09-08 00:54] jeffreyhanson commented on #159
Ok, so the app will now show the following popup when/if projects (both built-in and manual upload)  fail to import:

![Screenshot_20210908_114212](https://user-images.githubusercontent.com/3610005/132428170-ee6793d4-f6d0-4e8b-9059-c6788f8b1d88.png)

If you download the error link, you get a zip file with (1) the project configuration YAML file (I figure this would be handy to include) and (2) an

[2021-09-08 01:52] ricschuster commented on #159
This is great! Thanks very much Jeff!

[2021-09-08 02:58] jeffreyhanson commented on #159
Ok - excellent  - I'll push update to GitHub, close the issue, and update the version of the app on the server.

[2021-09-08 02:58] #159 closed

[2021-09-08 03:21] jeffreyhanson commented on #159
Ok - done.

[2021-09-08 20:44] jeffreyhanson opened #160 "Alternative boundary data format"
@JCLaurence and I had a meeting today about the project data format for the WTW tool. In this meeting, we talked about how the data format for the boundary data is fairly complex. IIRC, it would make things easier on JC's end if the WTW tool could import boundary data using an alternative data format (i.e. using the exact same index/id values specified in the attribute table data). So, I'll look i

[2021-09-08 21:55] jeffreyhanson opened #161 "Side-by-side comparisons in results pane"
@jgvincent had the brilliant idea of updating the resutls panel to enable side-by-side comparisons of different solutions. I think this would really help users examine trade-offs between different solutions. It would be a lot of work to implement though.

 Specifically we would need (at least) the following (1) some button to turn on/off side-by-side comparisons, (2) JS code to dynamically increas

[2021-09-08 23:03] jeffreyhanson commented on #160
@JCLaurence, to clarify, under the Marxan format, should the boundary data file be a comma-delimeted file (to follow conventions with the attribute table data format), or should it be a tab-delimeted file (to follow exactly same conventions as the Marxan format)? I'm happy with either option - what do you think is best?

[2021-09-08 23:12] JCLaurence commented on #160
Comma-delimited for sure!! Tabs drive me nuts

Sent from my iPhone

On Sep 8, 2021, at 7:04 PM, Jeff Hanson ***@***.***> wrote:

﻿
ATTENTION:External Email|Courriel Externe
________________________________

@JCLaurence<https://can01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FJCLaurence&data=04%7C01%7Cjc.laurence%40natureconservancy.ca%7C76806ed0ee0141049c5408d9731cf0f9%7C28c6

[2021-09-08 23:20] jeffreyhanson commented on #160
Ok sounds good! Given that, maybe we shouldn't refer to this as a "Marxan" data format and instead an "alternative file format"?

[2021-09-08 23:21] JCLaurence commented on #160
I also agree with that!

Sent from my iPhone

On Sep 8, 2021, at 7:21 PM, Jeff Hanson ***@***.***> wrote:

﻿
ATTENTION:External Email|Courriel Externe
________________________________

Ok sounds good! Given that, maybe we shouldn't refer to this as a "Marxan" data format and instead an "alternative file format"?

—
You are receiving this because you were mentioned.
Reply to this email directly, vi

[2021-09-08 23:55] #160 closed

[2021-09-08 23:58] jeffreyhanson commented on #160
Ok - I've implemented the alternative boundary data format. Under this format, the file extension should be `.dat` or `.dat.gz`, and have the following columns `id1`, `id2`, and `boundary`. I have also updated the examples projects `sim_vector2` and `sim_raster2` to use this alternative boundary data format (see [here](https://github.com/NCC-CNC/wheretowork/tree/master/inst/extdata/projects)).

[2021-09-09 00:19] JCLaurence commented on #160
That's perfect, I appreciate it!
JC

________________________________
From: Jeff Hanson ***@***.***>
Sent: Wednesday, September 8, 2021 7:58 PM
To: NCC-CNC/wheretowork ***@***.***>
Cc: JC Laurence ***@***.***>; Mention ***@***.***>
Subject: Re: [NCC-CNC/wheretowork] Alternative boundary data format (#160)

ATTENTION:External Email|Courriel Externe
________________________________

Ok - I've implem

[2021-09-09 09:46] jeffreyhanson opened #162 "Solution results tooltips for themes contains NaN values"
They should contain finite values.

[2021-09-09 10:12] #149 closed

[2021-09-15 19:26] ricschuster opened #163 "Firefox popup"
From Cindy in BC: We found that in Firefox the helpful popup for the optimize button wouldn’t disappear and kept me from being able to select from the bottom 2 rows of the colour options.  Works fine in Edge though, so not a big deal.

[2021-09-15 21:26] jeffreyhanson commented on #163
Thanks for raising this - I'll take a look into it.

[2021-09-16 18:17] ricschuster opened #164 "Locked out/Exclude functionality"
Just putting this in here as a placeholder to eventually build functionality to lock out pu's

[2021-09-16 23:37] jeffreyhanson opened #165 "Spatial dataset upload user interface"
The spatial dataset upload method doesn't seem to work correctly on the Safari. Specifically, the buttons/inputs/select menus are all squished togeather.

[2021-09-17 02:52] #163 closed

[2021-09-17 03:13] #162 closed

[2021-09-17 03:26] jeffreyhanson opened #166 "new_variable_from_auto fails to detect correct data type"
One @ricschuster's case study datasets has a layer that clearly has continuous values, but this function seems to think it has categorical data values. This means that when creating a project dataset containing this layer, the code assigns it a categorical legend with tonnes of boxes (instead of a color ramp).

[2021-09-17 03:40] jeffreyhanson commented on #166
Here's a reprex:

[code]

[2021-09-17 03:54] jeffreyhanson commented on #166
The [`spatial_data_type()` function](https://github.com/NCC-CNC/wheretowork/blob/master/R/utils_spatial_data_type.R) is used to determine if raster/vector data is categorical or continuous. For raster data, it currently uses the following logic (which isn't very clever):

1. Randomly sample 1'000 cells.
2. Count the number of unique values in these cells.
3. If the number of unique values is > 20,

[2021-09-17 05:03] #166 closed

[2021-09-17 13:03] JCLaurence opened #167 "Unicode characters should be allowed in the "Units" field in Yaml config file"
Hi Jeff!  In the Table of contents, the "units" value tends to wrap to the next line when it gets a bit too long.  This max length isn't very long, and wrapped text makes the legend a bit tricky to read.  There seems to be a lot of usable whitespace in the table of contents to the right of the labels.  Can you see if the label length could be extended a bit?   This is pretty minor.  My screen cap

[2021-09-17 18:20] JCLaurence commented on #167
I also just realized that my Issue Title has absolutely nothing to do with the issue content!  Ignore the title, just read the sentences I wrote :)    I also realize that the "unit" length is limited in the Theme / Feature listing on the right side of the app, which means there may not really be any point in extending unit length in the legend...

[2021-09-17 20:57] jeffreyhanson commented on #167
Hi @JCLaurence! Thanks for posting this issue - I'll look into it and you know how I go.

PS. for future reference, you can change the name of the issue by clicking the "Edit" button next to "New Issue" at the top of the page (next to the issue title).

[2021-09-21 02:26] jeffreyhanson opened #168 "Enable certain features/weights/includes to be hidden"
This functionality would allow certain map layers to be hidden from the map (i.e. they would never appear visible on the map). Note that such layers would still be used to generate and evaluate prioritizations. Although we would ideally not need to hide certain map layers (such that users could explore all possible input datasets), this functionality is useful in cases where the total number of ma

[2021-09-21 02:35] JCLaurence commented on #168
No worries, Jeff!  You get to adjust the Yaml file schema as required for the where to work tool.  I can adjust my code accordingly in a few minutes 🙂

JC

________________________________
From: Jeff Hanson ***@***.***>
Sent: Monday, September 20, 2021 10:26 PM
To: NCC-CNC/wheretowork ***@***.***>
Cc: JC Laurence ***@***.***>; Mention ***@***.***>
Subject: [NCC-CNC/wheretowork] Enable certain feat

[2021-09-21 11:52] ricschuster commented on #168
Thanks @jeffreyhanson! You covered everything we've discussed I think.

[2021-09-22 00:48] jeffreyhanson commented on #168
@ricschuster, could you please try updating the BC example to have the themes with lots of features set to hidden? I've implemented this functionality so that features/includes/weights marked as hidden don't have any spatial data sent to leaflet at all - so I'm hoping this will fix the unresponsive UI issues.

[2021-09-23 04:16] jeffreyhanson opened #170 "Area budget slider info"
@ricschuster suggested "For the budget slider, could we put units (e.g. km2) in brackets next to the % number?"

[2021-09-23 04:20] jeffreyhanson opened #171 "Warn when downloading poor solutions"
@ricschuster mentioned the following point was made during a meeting: When a user wants to download a solution it would be good if the app could check whether criteria that are required were met (i.e. default values of the app for theme goals were not lowered and PA's were included). If the criteria were not met, a popup could show up generating a warning message. This would still allow the downlo

[2021-09-24 15:39] ricschuster commented on #168
Thanks @jeffreyhanson !

Its working well and the mapping is nice and responsive again.

One issue though: given that the mapping is disabled for the hidden layers, the app does not allow to collapse the grouping. I'm getting a long list of names, but can't collapse them into say 'SAR' as in the example below.

![image](https://user-images.githubusercontent.com/3445092/134702683-5222cdad-e959-423a

[2021-09-24 22:11] jeffreyhanson commented on #168
Yeah that's a good idea - I'll try and implement it sometime this weekend.

[2021-09-25 21:13] jeffreyhanson commented on #168
I'll update it so that you can maximize/minimized the Theme name (i.e. SAR in the screenshot above). This will be useful so that (1) you can seee which features are present within the theme, and (2) minimize the theme so that it doesn't get in the way. Although we could just force it to be minimized, this could be confusing because then the user will not (easily) know which features are within the

[2021-09-25 21:40] jeffreyhanson commented on #168
I'll also update the code so that data provenance tooltips (e.g. regional/national) remain active for hidden layers.

[2021-09-26 02:27] #168 closed

[2021-09-26 02:27] #170 closed

[2021-09-26 02:28] jeffreyhanson commented on #167
@JC - I'm having trouble reproducing this issue - can you please send me the example project data you used to produce this error?

[2021-09-26 13:16] JCLaurence commented on #167
Hi Jeff!  Disregard the issue title!  I thought I had mentioned this in one of my comments on this issue...  I posted the issue, solved my units display problem, then realized I hadn't changed the name of the post!
JC

________________________________
From: Jeff Hanson ***@***.***>
Sent: Saturday, September 25, 2021 10:28 PM
To: NCC-CNC/wheretowork ***@***.***>
Cc: JC Laurence ***@***.***>; Mentio

[2021-09-26 19:37] jeffreyhanson commented on #167
Ah ok - so is the issue resolved then? If so, I'll close the issue?

[2021-09-26 19:56] JCLaurence commented on #167
Yes resolved

Sent from my iPhone

On Sep 26, 2021, at 3:37 PM, Jeff Hanson ***@***.***> wrote:

﻿
ATTENTION:External Email|Courriel Externe
________________________________

Ah ok - so is the issue resolved then? If so, I'll close the issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://can01.safelinks.protection.outlook.com/?url=htt

[2021-09-26 22:54] jeffreyhanson commented on #167
Ok - thanks for clarifying that.

[2021-09-26 22:54] #167 closed

[2021-09-28 12:25] ricschuster opened #173 "Ontario prioritization fails"
Hi Jeff,

I've updated the Ontario data and everything loads alright, but I do get the following error if I try to run a scenario:

`Error in cpp_cbc_solve(obj = obj, isMaximization = max, rowIndices = mat@i,  :
  c++ exception (unknown reason)`

Do you have an idea what could be causing this?

I've made changes to `format-ontario-pilot-data.R`. The biggest change was moving the TNC layers from th

[2021-09-28 20:37] jeffreyhanson commented on #173
Ok, I'll take a look and see what I can do. Not sure, I noticed this sometimes happens when there numbers that are really small (e.g. 1e-10).

[2021-09-30 11:58] ricschuster commented on #173
Thanks Jeff!
Were you able to have a look at this? If not, I can.

[2021-09-30 20:27] jeffreyhanson commented on #173
Sorry I forgot about this, I'll take a look at it this morning.

[2021-09-30 21:52] jeffreyhanson commented on #173
I think I've worked it out - it's due to data sparsity issues where planning units in the last columns of the rij matrix don't contain any data. To address this, I'll add in a fake feature with randomly generated values to ensure that every column in the rij matrix has at least some data.

[2021-09-30 21:58] jeffreyhanson commented on #173
Also, I'm not sure how useful it is to have the "policy areas" and "A2A areas" as the weights. This is because (1) setting a positive weight will only increase their coverage by the solution, whereas a "distance from policy/A2A area" would be more meaningful a as a weight, and (2) the beginner mode assumes that all weights are "bad" for "conservation" and assigned a negative weight of -99 -- which

[2021-09-30 22:02] #173 closed

[2021-09-30 22:11] jeffreyhanson commented on #173
Just updated the version on the server, let me know if you still run into any issues?

[2021-10-01 02:28] ricschuster commented on #173
Thanks very much! Its working now.

[2021-10-01 02:29] ricschuster commented on #173
Thanks for letting me know. This is what the region asked for so they can play around with things. When I talk to them next, I will bring this up.

[2021-10-05 19:27] jeffreyhanson opened #174 "Ontario pillot: disable protected areas (buffer) include by default"

[2021-10-05 19:38] jeffreyhanson opened #175 "Weights can have less representation than included"

[2021-10-05 20:48] #174 closed

[2021-10-05 21:44] #175 closed

[2021-10-05 21:46] jeffreyhanson commented on #175
This was due to a bug in calculating the amount of each weight covered by the selected Includes.

[2021-10-05 22:55] ricschuster commented on #171
Agreed. No need to invest any time into this for this iteration of the tool.

[2021-10-08 18:47] ricschuster opened #176 "attribute field for NCC_id's"
Hi Jeff,

JC and I were discussing a potential for an (optional) unique id field getting added to the data schema today.
The idea was that NCC would have some form of unique identified that would easily let us id cells across the country for NCC grid systems. This could be a column in the 'attribute data' that's doesn't actually have any functionality in the tool, but can (or will) be exported whe

[2021-10-08 21:09] jeffreyhanson opened #177 "Weight labels not wrapping"
The text for the weights in the solution results sidebar doesn't always wrap correctly. Thank you very much @jgvincent for reporting this - could you please let me know what browser and OS you were using when you found this bug?

![image](https://user-images.githubusercontent.com/3610005/136625027-edda90c1-9b78-4cfe-a599-00a58f07466d.png)

[2021-10-08 21:27] jeffreyhanson commented on #176
Ok - yeah - that sounds good. If you wanted to take this a step further, you could look into having multiple nested grids at different resolutions (e.g. so that you can easily compare one prioritization done at a 1 km resolution with another prioritization done at a 5km resolution). If you want to try something like thiat, then something like Uber's H3 system might be useful -- but those are hexag

[2021-10-08 21:31] ricschuster commented on #176
Neat to see that you and JC think alike. The nested grid system is the idea. JC will share his thinking on this next week, but he's probably thinking along the lines of the H3 system.

[2021-10-08 23:56] jeffreyhanson commented on #177
Bug encountered on MS Windows 10 using Google Chrome.

[2021-11-01 22:01] jeffreyhanson opened #178 "Sidebar UIs take a while to initialize"
It would appear that the sidebar UIs can take a while to initialize for large datasets. One approach to addressing this might involve using `shiny::insertUI()` (see https://shiny.rstudio.com/reference/shiny/1.7.0/insertUI.html).

[2021-12-07 22:29] JCLaurence opened #179 "YAML Feature name with period causes upload error"
Uploading a Yaml config file containing a feature with the name "Sporobolus rigidus var. magnus"    (quotes are added by me)  generates an error during the upload.  Removing the period in the name and re-uploading generates no error.  Looks like the "." causes issues.  I am interested to know if there are other characters that might also cause issues.

[2021-12-08 01:59] jeffreyhanson commented on #179
Thanks for reporting this! Could you please post the YAML file so I can reproduce this on my computer? I wouldn't have expected the presence of a `"."` in a string to cause issues. I would expect that many users will probably use a `"."` in feature names, so I think this is a bug that should be fixed.

[2021-12-08 13:24] JCLaurence commented on #179
[WTW_CONFIG.zip](https://github.com/NCC-CNC/wheretowork/files/7676264/WTW_CONFIG.zip)

[2021-12-08 13:24] JCLaurence commented on #179
# wheretowork project import log

## Summary

Failed to import the following Themes: "Endemics"

## Details

### Endemics

Error : isFALSE(x = grepl(".", name, fixed = TRUE)) is not TRUE

[2021-12-08 13:25] JCLaurence commented on #179
I agree - we'll probably want to include various non-letter characters in our theme names so it would be good to identify the source of the error

[2021-12-08 19:53] ricschuster opened #180 "Saving problem/solution parameters"
From Trevor in BC: "We wondered if the capability to save a solutions parameters could be included?  For example, if we wanted to go back in at a later date and change 1 or 2 of the parameters set, we could open up the tool where we left off."

[2021-12-08 19:58] ricschuster opened #181 "Pre-processing of projects on server"
The comments from BC staff made we wonder whether it would be possible to have the app ingest/process the data that's stored on the server and thus allow it to load faster?

Not sure if I explain this well, but the idea is to have the Where to Work do its pre-processing steps on folders on the server, save the workspace and use that to speed up loading.

@jeffreyhanson what do you think about that

[2021-12-08 21:18] jeffreyhanson commented on #180
Yeah, that's a great idea! I think that functionality would be really useful. It would probably be a fair amount of work, much less than upgrading the mapping functionality though. We'd have to come up with a file format for storing the parameters used to generate solutions. For instance, we could update the project YAML file to contain a section for storing solution metadata (e.g. name of column

[2021-12-08 21:24] jeffreyhanson commented on #181
Yeah, I like the idea of using the server to help with data processing. I think the best way to do this would probably involve creating a seperate data formatting app (rather than adding this functionality to the where to work app). In this data formatting app, the users could upload their data, specify which attributes/layers correspond to themes, features, includes, and then have it process the

[2021-12-08 21:26] jeffreyhanson commented on #181
Hmm, actually, now that I think about it - would we actually need such a data formatting app given the plugin that @JCLaurence has been working on? Since the plugin will provide users with the ability to format project data using an interactive interface - won't that provide the same functionality? I guess one difference is that  the plugin would be running on the users computer locally - maybe th

[2021-12-08 22:37] ricschuster commented on #180
Great to hear! Maybe we can revisit this once the 'release' version of "What to do" is finalized?

[2021-12-08 22:41] jeffreyhanson commented on #180
Yeah - sounds good!

[2021-12-08 22:46] ricschuster commented on #181
Sorry, I didn't explain this well. You are right, we have the functionality you are thinking about with JC's tool.
What I meant was using the YAML, spatial data, and attribute data to let the Where to Work tool do the data ingestion so to speak.

All the processing (including building the leaflet map) that Where to Work does every time you load a project could be done once. At the end of the proce

[2021-12-09 21:08] jeffreyhanson commented on #181
Oh I see! Hmm, that might be possible? I don't know exactly what the main bottleneck is for larger datasets - so I don't know if caching the data import process will help much? E.g. I know this would be very useful for large shapefiles, but we've seen slow performance with raster data too? So think it would probably be worth running some benchmarks first to work out where the main bottleneck is. A

[2021-12-10 03:40] ricschuster commented on #181
I like the idea of benchmarking. I will try to look into this, so you can focus on other things.
Good point about waiting for a switch away from leaflet. Will think about that. I am a bit worried that this might happen anytime soon though, given what you mentioned about potential timelines.

[2022-02-02 20:00] jeffreyhanson opened #182 "Ontario project data"
@ricschuster, just posting this issue so we don't forget, you mentioned that there might be some data sensitivity issues with the Ontario project data. Could you please follow up with the relevant people to check if it's ok that we include this dataset?

[2022-02-02 20:06] jeffreyhanson opened #183 "App title"
It would be good to have the name of the app shown inside the app so users can distinguish this app. This title could be placed above the buttons in the middle of the app.

[2022-02-08 03:11] #183 closed

[2022-02-08 19:01] jeffreyhanson opened #184 "add id column to output shapefile"

[2022-02-08 19:01] jeffreyhanson opened #185 "output results as CSV format"

[2022-02-13 19:43] jeffreyhanson commented on #182
@ricschuster, I just wanted to follow up on this? Veronique mentioned that she expected a number of people to start using the WTW and WTD apps following her presentation (on 24th) - so if the Ontario project contains sensitive data then this should not be accessible under the public login? That said, I think it would be a shame for the Ontario project to be removed - I think it's a pretty good pro

[2022-02-13 21:18] ricschuster commented on #182
Thanks for bringing this up again. I'm going to ask the Onatrio staff about this to make sure we can use the Ontario data in WTW. I will ask them both on the inclusion in the public login instance as well as it being part of the WTW package.

[2022-02-13 21:22] jeffreyhanson commented on #182
Awesome - thanks!

[2022-02-13 23:30] jeffreyhanson commented on #180
Just recording this here for future reference, IIRC Veronique asked about this functionality too.

[2022-02-13 23:32] jeffreyhanson commented on #148
I think we've resolved this issue now that the weights are treated differently inside the app, so I'll close this issue now. Please feel feel free to reopen this if you encounter a similar issue.

[2022-02-13 23:32] #148 closed

[2022-02-13 23:33] jeffreyhanson commented on #93
I think we've sorted out the contact text for the WTW app, so I'll close this issue now. Please feel free to reopen this if you want to discuss further.

[2022-02-13 23:34] jeffreyhanson commented on #121
@ricschuster, at the moment, we still have placeholder text for the WTW app. Could you please draft some text, or would you like me to do this?

[2022-02-13 23:36] jeffreyhanson commented on #91
I'm not sure if this issue belongs here, so I'll close it. I'm not sure if the service manual contains this information, maybe it's worth discussing this over emai?

[2022-02-13 23:36] #91 closed

[2022-02-13 23:43] jeffreyhanson commented on #89
Closing this as a duplicate of #180.

[2022-02-13 23:43] #89 closed

[2022-02-14 20:42] jeffreyhanson commented on #92
@ricschuster, I just wanted to follow up and ask about the acknowedgement text? At the moment, the app contains the following place-holder text "The Where To Work application is proudly developed by the Nature Conservancy of Canada". If you're happy with that then we can close the issue?

[2022-02-14 20:42] #93 closed

[2022-02-14 21:15] jeffreyhanson commented on #179
I'm looking into this issue now. It turns out that the code responsible for throwing the error was actually put there deliberately by me to ensure valid names (https://github.com/NCC-CNC/wheretowork/commit/1a7f0d0857c32d7ec1951542aa0e3155df0fe1f5). In a previous issue (https://github.com/NCC-CNC/wheretowork/issues/145), @ricschuster determined that the R package for reading/writing files would cra

[2022-02-14 22:02] jeffreyhanson opened #186 "update prioritizr and rcbc dependencies"
Currently, the tool depends on specific branches of the rcbc and prioritizr packages. This was because the tool used what was at the time developmental versions of those packages. Since those packages have since been updated, it would be good to update the dependencies so that the WTW tool uses the latest version of these packages. To fix this, (i) the remotes section in the DESCRIPTION should be

[2022-02-14 22:05] jeffreyhanson opened #187 "Update project status badge"
The project status badge says that the repo is experimental. I suggest that the repo is now "stable", and so should be updated accordingly (see https://lifecycle.r-lib.org/articles/stages.html#stable). This can be acheived by edting the README.Rmd file and running the Makefile command to remake the readme file and the site documentation.

[2022-02-14 22:26] jeffreyhanson commented on #177
Here's the steps to reproduce locally:

1. Open the YAML file for the Ontario pilot dataset, and change one of the theme names to having a really long name (e.g. change line 10 from "- name: Alvar` to `- name: Alvaraaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa`).
2. Run the app locally (using command `make debug`).
3. Generate a solution
4. Open the themes pane in the results sidebar.

[2022-02-14 22:28] jeffreyhanson commented on #177
To address this, I think the CSS settings for these widgets will need to be updated to enable word wrapping. The relevant file is `inst/htmlwidgets/lib/solutionResults-1.0.0/styles.css`

[2022-02-14 22:40] jeffreyhanson opened #188 "download link for user manual"
The help popup should contain a download link for the user manual for the tool. This is important so that users can easily access the user manual. Note that the user manual is still being written, so we'll need to wait until it's finalized before we can address this issue.

[2022-02-15 02:46] #179 closed

[2022-02-15 03:03] jeffreyhanson commented on #179
@JCLaurence, I've updated the app so that periods are now ok in the theme, feature, include, and weight names. Please feel free to reopen this issue if you encounter this issue again.

[2022-02-15 03:08] JCLaurence commented on #179
Hi Jeff!  Hopefully by adding this comment I'm not reopening the issue...  Can you let me know what characters are either allowable or not allowable (whichever is easiest) in names?  Knowing that periods are good now is great, but it would be better for me to have a list of bad characters so I can avoid allowing them at my end.

[2022-02-15 04:11] jeffreyhanson commented on #179
Nah, it'll only reopen the issue if you click one of the buttons that says reopen.

Yeah, my understanding is that all ascii characters should be fine (e.g. any character on the QWERTY keyboard). For full list, [see here](https://www.w3schools.com/charsets/ref_html_ascii.asp#:~:text=ASCII%20is%20a%207%2Dbit,are%20all%20based%20on%20ASCII).

[2022-02-15 12:53] ricschuster commented on #92
We should check with Joe about how he wants Carleton to be acknowledged.
Also, the main credit should go to you. How would you like to be acknowledged?

As for the beginning of the text, I would say that Carleton developed the app (checking with Joe on wording). For the wording related to NCC (and the funders) I can check with NCC folks.

[2022-02-15 17:48] ricschuster commented on #92
Here a draft English version:

"The Where To Work application was developed by Joe Bennett and his team at Carleton University under contract with the Nature Conservancy of Canada. This work was supported by generous contributions by Environment and Climate Change Canada and the Royal Bank of Canada."

The French version of this:

"L'application Where To Work (Où travailler)a été développée par Jo

[2022-02-15 20:27] jeffreyhanson commented on #92
Yeah, that sounds great! Maybe we could add my name and Jaimie's name somewhere - what do you think of the text below?

Also, to clarify, none of the web apps themselves have any French text (the French text is only found in the launcher at the moment) - so do you still want a French version in the acknowledgements tab for the WTW tool? It seems a bit out of place to have a single French paragraph

[2022-02-15 20:31] ricschuster commented on #92
I like it. I'm a bit sad that I'm with the catch all NCC umbrella in there and not part of the gang, but that's okay.

The French version is essentially for record keeping here, I don't think adding the French text would make that much sense at this point.

[2022-02-15 20:45] jeffreyhanson commented on #92
Yeah - I agree it's a shame you're name isn't there. I don't suppose we could tweak it like this or something?

[2022-02-15 20:46] jeffreyhanson commented on #92
Re French: ah ok - I'll see if I can include the French version in a commented out (or hidden) part of the text/app somewhere so it's not lost.

[2022-02-15 20:47] ricschuster commented on #92
I like it. Lets use that. Thanks!

[2022-02-15 20:50] jeffreyhanson commented on #92
Just realized I used under twice, perhaps:

Not sure if guidance is the right word though - I feel it doesn't quite reflect the huge amount of input you've had on this?

[2022-02-15 20:58] ricschuster commented on #92
How about this? Its longer, but doesn't really matter I think.

[2022-02-15 21:01] jeffreyhanson commented on #92
Yeah that looks great! I'll add that. Shall I use this (replacing the app name) for the WTD tool too?

[2022-02-15 21:05] jeffreyhanson commented on #92
For reference the relevant file that needs to be changed is https://github.com/NCC-CNC/wheretowork/blob/master/inst/app/text/acknowledge-ncc.md

[2022-02-15 21:05] jeffreyhanson commented on #121
Ok - can do. Note to self, this text should also contain a link to download the tool manual.

[2022-02-15 21:10] jeffreyhanson opened #191 "remove favicon"
It has been determined that the NCC logo should not appear as the favicon, so it needs should be removed. Implementing this will require deleting the favicon file, and edting the app_ui.R file to remove the code for including the favicon.

[2022-02-15 21:57] ricschuster commented on #92
Yes please.

[2022-02-15 22:04] jeffreyhanson commented on #92
Ok can do.

[2022-02-20 20:11] jeffreyhanson commented on #191
@DanWismer, just as a heads up, I'll take on this issue because Veronique is giving a workshop on the WTW tool in a couple of days and wanted the NCC logo removed.

[2022-02-20 20:13] jeffreyhanson commented on #182
@ricschuster, just wanted to check if there was any updates on this?

[2022-02-20 20:14] #191 closed

[2022-02-21 01:03] ricschuster commented on #182
Still waiting for a decision from folks in Ontario (they are working on it).

[2022-02-21 01:03] jeffreyhanson commented on #182
Ah ok - thanks!

[2022-02-21 20:02] jeffreyhanson opened #193 "shapefile upload with missing values"
The tool crashes if the user attempts to upload a shapefile with missing values in it. Instead, it should display a helpful error message.

[2022-02-22 01:42] #193 closed

[2022-03-07 18:30] ricschuster opened #195 "Output table error"
When turning on weights, but not setting any values for them, the output table doesn't display row entries, even though they seem to be there:

![image](https://user-images.githubusercontent.com/3445092/157095646-98d0f724-f573-4903-aec3-beb3f117c01d.png)

[2022-03-07 19:20] jeffreyhanson commented on #195
Thanks for raising this! I'll look into it.

[2022-03-08 23:42] #195 closed

[2022-03-08 23:45] #187 closed

[2022-03-10 22:15] #177 closed

[2022-03-16 21:06] jeffreyhanson opened #199 "change upload shapefile label in app"
The "spatial dataset" label in the select drop-down menu widget for choosing data should say "upload shapefile".

[2022-03-18 16:04] josephrbennett opened #200 "text overlap in weights when examining solution results"
![ncc carleton ca_app_wheretowork_advanced_sp_hide_navbar=true (1)](https://user-images.githubusercontent.com/33939350/159039085-25bc9645-62b3-4c8d-918f-d1937042a2d8.png)
![ncc carleton ca_app_wheretowork_advanced_sp_hide_navbar=true](https://user-images.githubusercontent.com/33939350/159039181-daca94ea-ac5c-493a-85bd-0ab406ff6abd.png)

[2022-04-01 16:01] DanWismer commented on #200
Interesting, thought we tackled this one (issue #177). I am testing the production app and labels are wrapping by design (built-in project). However, I am wondering if labels are not wrapping when the user uploads their own project?

![image](https://user-images.githubusercontent.com/29556279/161299749-1d0962e8-eaf8-406e-922e-9369ad47d98a.png)

[2022-04-01 20:45] jeffreyhanson commented on #200
@DanWismer, Hmm, I wouldn't expect the data upload method to have an effect. I wonder if it's something specific for underscores or a maybe web browser differences?

@josephrbennett, do you remember which web browser you were using when you encountered this issue?

[2022-04-06 22:00] jeffreyhanson commented on #188
Chatting today with @ricschuster and we talked about embedding the maunal in the tool source code and providing a link to the internal version.

[2022-04-19 05:55] #121 closed

[2022-04-19 06:34] #186 closed

[2022-04-19 06:49] jeffreyhanson opened #203 "Windows build fails"
The Windows GitHub Actions build fails for mysterious reasons. Specifically, the following tests fail (from the build log):

[code]

[2022-04-20 01:48] #184 closed

[2022-04-20 01:52] jeffreyhanson commented on #188
@ricschuster, I just want to confirm if I can embed the current version of the manual into the tool - or does it need further editing before we should do this? E.g., adding the manual to the tool will make the manual public, which might not be desireable if it's still incomplete (e.g. missing attributions, etc)?

[2022-04-20 02:04] #185 closed

[2022-04-20 07:28] #203 closed

[2022-04-20 07:29] jeffreyhanson commented on #182
@ricschuster, any updates?

[2022-04-20 11:41] ricschuster commented on #188
@jeffreyhanson could you share the version you are using so I can have a look? I think its pretty much ready to put online.

[2022-04-20 20:20] jeffreyhanson opened #207 "update help popup"
This should explain that goals = targets and incudes = locked in layers.

[2022-04-21 11:44] ricschuster commented on #182
I've asked again. So far no yes/no.

[2022-04-21 23:29] jeffreyhanson commented on #188
Ok - based on the meeting yesterday, it sounds like the manual is still being worked on. So, let's hold off on adding it to the repo until it's pretty much finished?

[2022-04-21 23:39] #199 closed

[2022-04-21 23:40] #207 closed

[2022-04-21 23:43] #92 closed

[2022-04-21 23:45] jeffreyhanson commented on #182
Hmm, should we remove the Ontario case study then? This would be a shame because it's the best case study we have (e.g., realistic data and solves fairly quickly).

[2022-04-22 02:44] ricschuster commented on #188
I think that was for the "What To Do" tool, but happy to wait for a bit for sure.

[2022-04-22 02:45] ricschuster commented on #182
Lets wait. I did ask them whether we should remove the case study. Until I hear otherwise, I assume we can use it.

[2022-05-01 22:10] jeffreyhanson commented on #200
I think this has been fixed now, so I'll close it. Since the Docker builds were failing for a while, this meant that even though we fixed the issue in the source code - this upate wasn't making it to the production server. But now that we've fixed the Docker builds, the version on the production server has the fix. Please feel free to re-open this issue if this issue is encountered again.

[2022-05-01 22:10] #200 closed

[2022-05-03 01:18] #188 closed

[2022-05-09 17:24] DanWismer opened #208 "ERROR: dependency 'RandomFields' is not available for package 'wheretowork'"
When installing wheretowork:

if (!require(remotes)) install.packages("remotes")
remotes::install_github("NCC-CNC/wheretowork")

I get an error saying:
ERROR: dependency 'RandomFields' is not available for package 'wheretowork'

It looks like RandomFields has been removed from CRAN?
https://cran.r-project.org/web/packages/RandomFields/index.html

[2022-05-09 17:45] ricschuster commented on #208
It has been yes. I think that's the second time within a year. Might be worth considering ditching the `RandomFields` package

[2022-05-09 19:29] jeffreyhanson commented on #208
Yeah, RandomFields was archived, but I'm guessing that it will be back on CRAN soon enough. Yeah, it might be worth dropping RandomFields. It's used in the code for simulating stuff. Do you have any ideas for replacements? Another option could be to make it a soft dependency?

[2022-05-09 21:47] DanWismer commented on #208
An idea Jeff and I discussed is either making RandomFields a soft dependency, or even better, adding RandomFields in the DESCRIPTION Remotes: and then updating the renv.lock file

[2022-05-09 21:52] ricschuster commented on #208
Soft dependency sounds good to me.

[2022-05-19 18:00] DanWismer commented on #208
@jeffreyhanson I have created a new local branch (issue208) and was wondering if you could comment on my approach:
1. Move RandomFields (>= 3.3.8) to the Suggests
2. Find all test_that() calls that have RandomFields and insert `skip_if_not_installed("RandomFields")` before the test_that() call

[2022-05-19 21:16] jeffreyhanson commented on #208
Sure  - could you please create a PR for it? Those changes sounds great! In addition to those, I suggest updating the all the functions that depend on RandomFields to check for this dependency and throw an error message if its missing, e.g., something like:

[code]

[2022-05-30 16:43] DanWismer opened #210 "multi-theme-result hover label with long feature names not properly sized to the viewport"
Features that have long names (i.e. R1km_T_SPECIES_SAR_SC_Invertebrates_anthropods_Yellow_namded_Bumble_Bee) run off the screen

![image](https://user-images.githubusercontent.com/29556279/171033072-e464b310-337c-4478-899d-a9dae2277164.png)

Adding a `word-break: break-all;` should fix this:

![image](https://user-images.githubusercontent.com/29556279/171033485-a299519c-3fd8-4029-96c7-9bca0ad36fd8

[2022-05-30 20:01] jeffreyhanson commented on #210
Brilliant - thank you for reporting this and finding the fix!

[2022-05-31 16:22] DanWismer opened #211 "Project rasters on the fly"
We are wanting to design Where to Work to accept input raster data in any CRS.  This will allow the downloadable prioritization output to reflect the input rasters without the alteration of cells due to re-projecting and resampling.  Re-projecting rasters to Web Mercator will be done on the fly for display purposes only (performance hit) and not for feeding into `prioritizr`.

This is considered a

[2022-06-02 23:03] DanWismer commented on #178
I could try adding in some CSS loaders: https://github.com/daattali/shinycssloaders or a waiter screen: https://shiny.john-coene.com/waiter/

that way the user knows something is coming

[2022-06-06 16:08] DanWismer opened #213 "Generating solution with with spatial clustering fails (ON2 pilot dataset)"
Setting the spatial clustering fails:

![image](https://user-images.githubusercontent.com/29556279/172200193-108c322b-e915-4aea-9943-e824fe621470.png)

[2022-06-06 22:05] DanWismer commented on #211
TODO:
- do not allow raster data (and maybe vector as well...) in only a geographic coordinate system (ie. WGS84, NAD83) be ingested into the app
- have a fall back CRS (equal area) for vector data in only a geographic coordinate system
- give a warning message to the user if input data is only in a geographic coordinate system, stating that data should be in a projected CRS
- build unit test for

[2022-06-09 16:00] DanWismer opened #214 "Make the "Welcome to Where To Work" page more descriptive"
Adding more context for the user at the welcome page to help the user step into the app

[2022-06-10 18:45] ricschuster opened #215 "'Launching Where To Work' hangs"
`Where to Work` currently only launches using the `admin` account. If I used public or other users the app hangs and generates the following error message:

![image](https://user-images.githubusercontent.com/3445092/173130436-ddaf4b16-40ae-4fca-9e8c-24c3de6560cf.png)

[2022-06-10 18:46] ricschuster commented on #215
I did two things before this happened:

1) Update server packages and did a reboot

2) added or changes a `user_groups` line to the project yaml files
```user_groups: staff-advanced```

[2022-06-10 18:49] ricschuster commented on #215
I am guessing this is related to 2, but didn't want to change things back yet in case you want to use the current state to troubleshoot what's happening.

[2022-06-10 19:21] DanWismer commented on #215
I think what I can do is navigate to ~/Github/web-apps folder and run the docker logs command to see if there is any other debugging info

[2022-06-10 19:53] DanWismer commented on #215
There error looks to be in the project_configs list. One of the items is not a logical but a character:

![image](https://user-images.githubusercontent.com/29556279/173140877-4baea37a-8fc6-4f49-99b3-11a330c8731d.png)

[2022-06-10 20:07] DanWismer commented on #215
I think `user_groups` can be of only 2 options:
1. public
2. admin

Where `mode` is  where you set:
1. beginner
2. advanced
3. project

[2022-06-10 20:10] ricschuster commented on #215
Interesting.
In the code snippet above I see "private". Where does this come into play?
What would I need to set in the yaml file to make sure a project is not visible to public?

[2022-06-10 20:13] DanWismer commented on #215
Ah yes, I caught that as well. It looks like public and admin are the two options you can set manually. Where the private user_group is set programmatically. Will run a test and see what's happening

[2022-06-10 20:31] DanWismer commented on #215
If you set the user_group to admin, my understanding is that the dataset should only be available when logged-in as admin

[2022-06-10 20:33] ricschuster commented on #215
and if I don't set it at all it should only be available to users other than public, is that correct?

[2022-06-10 20:44] DanWismer commented on #215
I think I confused myself a bit. My bet is you want the dataset to also show in the staff-advanced log in as well...

[2022-06-10 20:46] ricschuster commented on #215
Yes. I essentially want a project to show when a person logs in with any username other than 'public'.

[2022-06-10 20:54] jeffreyhanson commented on #215
Hmm, looks like there might be a bug. This is because line 61 in `fct_find_project.R` should return a logical (TRUE/FALSE), but instead returns a character value. Could you try changing `return(NA_character_)` to `return(TRUE)`?

[2022-06-10 20:56] jeffreyhanson commented on #215
The `user_groups` field in the project YAML file should be a value (or an array containing values) that correspond to the login groups on the web-apps repo. These currently include: `public`, `private`, `staff-beginner`, `staff-advanced`, `admin`.

[2022-06-10 20:58] jeffreyhanson commented on #215
So, if you want a project to be available for all groups except public, I would try setting:

[code]

[2022-06-10 21:00] jeffreyhanson commented on #215
That said, if the `user_groups` variable is specified correctly in the project YAML file, I don't see why it's throwing this specific error.

How urgent is this? It's Saturday here, but can try to debug if this is urgent. If not, can we tackle this during our meeting on Tuesday (my time)/Monday (Dan's time)?

[2022-06-10 21:03] ricschuster commented on #215
Thanks Jeff!

Not urgent. Next week is totally fine.

[2022-06-13 23:40] #215 closed

[2022-06-14 19:28] #211 closed

[2022-07-07 19:57] DanWismer commented on #182
I am in the process of creating a new ontario pilot built-in dataset that will be nested inside the `wheretowork` repo. All data used will be publicly available so we wont run into data sharing problems. Once completed, I will remove the original case study.

![image](https://user-images.githubusercontent.com/29556279/177860756-8c80b642-4bb7-4330-bec0-43cbe83bb56b.png)

[2022-07-10 00:25] XavierCLL opened #217 "Leaflet: Size limitations of raster images"
Hello all,

I am working on a project called CAP-BC more related to conservation planning focusing on climate change in BC, Richard is partially part of this project too. I was working with PrioritizR with Shiny but I realized that Where to Work has the features that the project needs and I am adjusting this app to the project, so I'll here asking things and maybe pushing some PR.

The first issue

[2022-07-12 23:41] jeffreyhanson commented on #217
No worries! Great to hear it worked - I'll close this issue now, but please feel free to re-open if you have any further questions.

[2022-07-12 23:41] #217 closed

[2022-07-13 14:31] DanWismer opened #218 "Legend Labels"
- It would be nice to have control on individual category labels on the legend to make them more descriptive to the user. Currently, when you specify `units`, it labels all categories the same.
- Ability to superscript legend labels

![image](https://user-images.githubusercontent.com/29556279/178804743-6e146f4d-49a3-4d66-a171-6b5b0c0b410c.png)

[2022-07-20 16:55] DanWismer commented on #218
test driven approach:
- modify simulate weights and themes function so that they can build with a manual legend if flagged to do so
- generate new sim_raster_data4 to test on

[2022-07-20 22:05] DanWismer commented on #218
@jeffreyhanson

If themes and/or weights have a manual legend; an error occurs when reading in the project data (`fct_read_project`). When the `read_project` function is called,  the `new_variable_from_auto` `Variable` method is used on themes and weights. I am thinking we should change this to use the `new_variable` function instead, as we don't need to recalculate metadata. We should see a littl

[2022-07-20 22:12] jeffreyhanson commented on #218
Hmm, I think the `new_variable_from_auto` function is used so that the code can automatically run some calculations (such as calculating the "total" amount in the GIS layer). If you switch to `new_variable`, then you'll have to do these calculations yourself - which could be a bit annoying since you'll need to do this in a data-format-agnostic way (i.e., in a way that works for both vector and ras

[2022-07-21 16:02] DanWismer commented on #218
Bingo!

Thanks for that suggestion Jeff. I was able to get it to work by adding an additional parameter, `labels = "missing"` to the `new_variable_from_auto` and pass that `labels` metadata to the `new_variable_from_metadata` to create a `new_manual_legend` if `metadata$type == "manual"`

![image](https://user-images.githubusercontent.com/29556279/180258842-4e1acc5b-42ac-4ed6-8cbd-8f57de454051.png

[2022-07-21 19:58] DanWismer commented on #218
I think I found where I can edit the appended untis text. It is within the mapManager html widget. I found the `categoricalLegend.js` script and see that on line 41, the `.innerText` is defined. Odd thing is that I have made an edit to that line, but no behavior changes when I run in dev mode.

![image](https://user-images.githubusercontent.com/29556279/180304025-31a8c028-d21c-413e-af40-fe339b0895

[2022-07-21 20:21] DanWismer commented on #218
oh, disregard the last comment. I refreshed my RStudio session and it is working now...

![image](https://user-images.githubusercontent.com/29556279/180307994-eeded4f4-ae85-42a9-a1ea-1a09bc0a4d3a.png)

[2022-07-21 21:32] jeffreyhanson commented on #218
Awesome - yeah - great to see you got it working. Sorry, I don't know why you needed to refresh Rstudio - I would have thought using just `devtools::load_all()` would be sufficient.

[2022-07-26 15:51] DanWismer commented on #218
- added new `ManualLegend` class to htmlwidgets. This now handles manual legends in the `mapManager` and does not append the units to the labels.
- `CatagoricalLegend` class is the same (appends units to the values)

[2022-07-27 14:35] #218 closed

[2022-07-28 15:11] DanWismer commented on #182
I have removed the original ontario pilot data / files from the `inst/extdata` folder and have added the new `south-western-ontario` example that will ship with the tool.

@jeffreyhanson @ricschuster
I now need to move the project files over to the server. I am wondering, since the data is shipped with the app itself; it  should find the built-in project once I merge PR #220  (changes on productio

[2022-07-28 22:03] #182 closed

[2022-07-29 15:39] DanWismer commented on #182
And yes, I had to copy the project to the server. I forgot that it was only web-apps that we cloned to the server (nested in our user account)

[2022-08-04 03:27] XavierCLL opened #223 "Change continuous bar legend to horizontal bar legend"
Hi folk!

This could be a minimal change proposal (or not essential) but it can help the tool.  When there are many layers, the current design for the continuous bar legend uses a lot of vertical space:

![image](https://user-images.githubusercontent.com/11801453/182755094-ea21190f-6864-4529-91bc-ce01b505f3d9.png)

If we change it to the horizontal legend we reduce unused space, easier to read and

[2022-08-04 04:02] XavierCLL opened #224 "Add a filter box for layer groups and/or sidebar"
Hi folks!

With many layers, users can get lost in layer lists and finding a specific layer could be difficult. Implementing some filter boxes could be very useful for users. Mockups:

Left sidebar:
![Screenshot_20220803_204538](https://user-images.githubusercontent.com/11801453/182759662-a92aa8ee-e3fb-494e-bd1a-3745847dd430.png)

Right sidebar:
![Screenshot_20220803_205610](https://user-images.gi

[2022-08-04 14:55] jeffreyhanson commented on #223
Yeah - awesome idea!

[2022-08-04 16:45] DanWismer commented on #223
I prototyped a horizontal continuous legend. I went with changing the linear-gradient to go left to right. Then positioning everything else using a series of flex boxes. I just need to figure out if I can inject the value `to left` in the `background-image: linear-gradient` property in the code base.
![image](https://user-images.githubusercontent.com/29556279/182905611-7cffdb23-fccf-48b2-96bb-6be2

[2022-08-04 17:09] XavierCLL commented on #224
With Javascript is easy to implement a filter box, maybe the difficulty is integrating it into the webtool, a simple example:

https://www.w3schools.com/howto/howto_js_filter_lists.asp

[2022-08-04 22:50] #223 closed

[2022-08-05 00:09] XavierCLL commented on #223
that was fast! tested and worked perfectly, thanks @DanWismer

[2022-08-09 22:01] DanWismer opened #227 "Turn mapping on / off"
For very large planning areas (ex. entire provinces), it would be good if the user can specify if the layers and solutions should generate `RasterLayers` or not. If not, layers wont display and `RasterLayers` would not generate from the attribute table.

![image](https://user-images.githubusercontent.com/29556279/183766535-b50d4127-c01f-44e1-82a8-0f50f0839af4.png)

Currently there is a `hidden` pa

[2022-08-09 23:22] ricschuster commented on #227
Thanks Dan!
If at all possible, this would also great to work with `polygon` data.

[2022-08-10 16:30] DanWismer commented on #227
The `Variable` class has a method `get_data()` which calls the `get_index()` method on the `Dataset` object. The `get_index` method is where `sf` or `RasterLayer` objects are generated referencing the attribute table. For `RasterLayer` objects, the `raster::SetValues` is used, having the `spatial.tif` as the template. The `get_data()` method is called when the `render(x, id, zindex, visible)` is c

[2022-08-10 17:04] DanWismer commented on #227
After further review, I see that the `get_index` method which builds `RasterLayer` or `sf` objects is also called on the `new_variable_from_auto` constructor.

[2022-08-11 15:32] DanWismer commented on #227
`server_import_builtin_data.R` and `server_import_manual_data.R` call the function `read_project`.  `read_project` imports the data and builds variables using the `new_variable_from_auto`. `new_variable_from_auto` calls `get_index` from the `new_dataset` which converts attribute columns to `RasterLayer` or `sf`.

The `new_variable_from_auto` looks to only need a `RasterLayer` or `sf` to calculate

[2022-08-12 17:30] DanWismer commented on #227
I have added a new `hidden` parameter to  `new_variable_from_auto` which set to `yes` uses the attribute table to calculate the statistics for the legend instead of building `Raster` or `sf` layers. Also, by setting features, weights and includes to `hidden` I get way better performance once the BC pilot (large project I am using for testing) project is uploaded:

![image](https://user-images.gith

[2022-08-15 15:29] DanWismer commented on #227
Posting a question so I don't forget:

When a `Variable` object is created, it brings with it the entire attribute table. That can be a lot of full attribute table copies, especially when there are a lot of variables. I am wondering if only the specific column of the attribute table is needed?

[2022-08-15 21:46] jeffreyhanson commented on #227
Nah, the variable object doesn't actually store a full copy of the data. This is because the data is stored in a Dataset (R6) object -- that the Variable object refers to -- and R6 objects have copy-on-reference semantics. See https://adv-r.hadley.nz/r6.html

[2022-08-16 16:14] DanWismer commented on #227
Thanks Jeff.

I have been playing around with the `server_import_data.R` script and found that I can populate `app_data$mm` with an empty `new_map_manager(list = list())`. This creates a blank TOC.

After messing around with the code, I am hitting this new error with the `future` package. It is telling me that the project I am running priortizatrions on exceeds the maximum allowed size of 500 MiB.

[2022-08-16 16:41] ricschuster opened #228 "Releases on DockerHub"
What do you think about starting to create releases on DockerHub for updates of Where To Work?
The 'projection on the fly' and the 'mapping' updates would make for reasonable releases I think.
Maybe 'projection on the fly' is too granular, but thinking about releases a bit might be useful.

[2022-08-16 20:35] jeffreyhanson commented on #228
Yeah, using fixed releases would help provide a more stable user experience. E.g., if you're worried about updates/bugs causing downtime or bad experiences for users? The flipside is that users won't get to experience newer updates as quickly. It would be possible to set up a ShinyProxy so that beginner users can only see the "released" versions and advanced (or what ever user) can see the latest

[2022-08-16 20:40] jeffreyhanson commented on #227
Hmm, I'm sorry, nothing comes to mind immediately. I'd suggest determining if the issue is being caused before (1) a large amount of data is being transferred to the worker process for async processing (which is where future comes in), (2) if the processing done on the worker process during async is using up >500 MB RAM, or (3) the results being sent from the worker process back to the main proces

[2022-08-16 20:43] jeffreyhanson commented on #227
Also, future works by automatically working out objects in the given environment should be sent to the worker process and then sending out the data to the worker. So, it might be possible that it's sending a bunch of extra stuff that's not actually needed? So if you can confirm (1) is causing the problem, then it might be worth seeing if you can manually specify which objects should be sent to the

[2022-08-16 21:26] ricschuster commented on #228
Thanks Jeff!
I was thinking about a form of version tracking to make sure we could provide a stable user experience. Maybe I am overthinking this and the current system is fine, but I thought I'd mention it.

[2022-08-16 21:51] DanWismer commented on #227
Thanks Jeff, I can confirm that it is scenario 1 (a large amount of data is being transferred). It fails right when it hits the `min_set_result` function

[2022-08-16 22:02] DanWismer commented on #227
Interesting, I put a `browser()` statement for when the `input$newSolutionPane_settings_start_button` gets triggered. On the master branch,  `object.size(curr_theme_data)` is 0.362402152 GB. And on my mapping on / off branch,  `object.size(curr_theme_data)` is 1.568400808 GB. I am wondering how that has ballooned up so much ...

[2022-08-17 15:21] DanWismer commented on #227
I put another `browser()` statement in `server_import_manual_data.R` and inspected the output of the `read_project` function (a list of themes, weights and includes) and the `app_data`  environment after `import_data` function is executed. What is interesting is that the `object.size(x$themes)` is only 1816 bytes, but the `object.size(app_data$theme_data)` is 1.5 GB.

Trying to figure out why when

[2022-08-17 17:36] DanWismer commented on #227
ok, I see why `app_data$theme_data` is bigger then `x$themes`. Thats becuase `app_data$theme_data` is a `dgcMatrix`  (generated by the `get_theme_data` method on the `SolutionSettings` class) and `x$themes` is a list from `read_project` function

[2022-08-17 19:54] DanWismer commented on #227
... finally figured out what was going on. I made some changes to the `new_variable_from_auto` constructor and was converting the `index` value to a numeric which was causing the `Variable` class to grow in size.  Long story short, running a prioritization  works again on my mapping on/off branch.

These are just some notes so I remember for later:
I need to read up on what copy-on reference is. I

[2022-08-17 22:11] DanWismer commented on #227
@ricschuster

In my dev environment, I have it that you can check if you want to hide (disable all the layers):
![image](https://user-images.githubusercontent.com/29556279/185251817-64d495c1-b1a0-49b6-8c4f-0e8ec83eab12.png)

This overwrites the `hidden` attribute on the `new_theme`, `new_weight` and `new_include` constructors to `TRUE`
![image](https://user-images.githubusercontent.com/29556279/18

[2022-08-18 12:47] ricschuster commented on #227
Thanks Dan! My preference would be one check box.
Do you think having 3 would be useful?

Question about solutions: is there a way to set those to hidden (or at least turned off)  as well?
I'm thinking primarily about projects with large numbers of polygons that would take ages to map.

[2022-08-18 14:07] DanWismer commented on #227
1 check box for turning off themes, weights and includes works for me. Having 3 provides more flexibility (say you wanted to view the includes but have themes and weights off), but I can make that change if there ends up being a user need.

And yes, I was thinking the same. I will add a new check box where the user can specify if they want to hide the solution from the map. For the BC example, sho

[2022-08-18 19:36] ricschuster commented on #227
1 check box sounds great. Thanks!

Would you want to add a separate check box for mapping solutions now or add that functionality to the 1 check box? 1 check box would make for a simpler user experience. If you use e.g. "layer mapping on/off" that could cover things.

[2022-08-18 20:13] DanWismer commented on #227
The main reason for a sperate check box is that for some projects (take BC for example), having the site selection display on the map works well.

![image](https://user-images.githubusercontent.com/29556279/185484507-fd675da0-eb63-40a7-a6b6-530cbfa31630.png)
![image](https://user-images.githubusercontent.com/29556279/185484960-db2b0eef-2d20-4759-b0d0-47741c41d498.png)

And for the projects where i

[2022-08-18 21:26] ricschuster commented on #227
Nested in the settings sounds good. What if we have a setting to turn results layers off (meaning don't display) instead of not making them available to map (i.e. complete off)? Would that work or still cause issues with say polygon layers?

[2022-08-19 12:35] jeffreyhanson commented on #228
I think there's pro's and con's - I'm not sure what the best strategy would be. @DanWismer, do you have any thoughts on this?

[2022-08-19 16:48] DanWismer commented on #227
If a layer is set to visible == FALSE, it still gets rendered to the map and held in-memory which will bog down performance.

What I ended up doing here is removing the "Hide solution" check box at import and moved that functionality under the "Settings" tab. That way you can change this option within the session:

Hide:
![image](https://user-images.githubusercontent.com/29556279/185667353-2881130

[2022-08-19 17:42] DanWismer opened #229 "Upload shapefile not working"
I haven't tested this since the project on the fly branch was merged. At that time this was working, but now the select fields are not showing to specify columns as themes, weights and includes ...

[2022-08-19 18:11] ricschuster commented on #227
Awesome! Thanks Dan!

[2022-08-19 18:58] DanWismer commented on #229
False alarm, I was using the shapefile from here: `inst\extdata\projects\sim_vector` which is not a shapefile upload but a manual upload.

I tried again using a shapefile here: `C:\Github\wheretowork\inst\extdata\shapefile` and all works!

I will close this issue

[2022-08-19 19:01] #229 closed

[2022-08-19 21:25] DanWismer opened #230 "Loading in large shapefile (PEI): `rcpp_str_tree_to_sparse_matrix: std::bad_alloc` error"
I will have to investigate this, but I am thinking it has to do with when the attribute table gets translated to a sparse matrix and it is hitting some type of memory limit...?

[2022-08-22 14:15] DanWismer commented on #228
Are we thinking of implementing what we did for the `impact (project evaluation tool)` app? Where the `dev` tag listens to the developer branch and the `latest` tag listens to the production branch? Or rather are releases a form of archiving?

[2022-08-22 14:21] ricschuster commented on #228
Good question. I do like the `dev` and `latest` tag component. I was mostly thinking about archiving initially, but don't have a strong opinion about this.

[2022-08-22 14:29] DanWismer commented on #228
Under the "Builds" tab on docker hub, I see that there is a collection of recent builds (some type of cache?). They are not named well, but could we re-name one of the previous builds we would consider as stable? That way, if I merge something that breaks production, we will have a safety net to pull a stable build back to the server.

[2022-08-24 14:20] DanWismer commented on #230
Following up with my chats with @jeffreyhanson  and @ricschuster, the error is occurring when the boundary matrix is being generated for very large planning units (`new_dataset_from_auto` `# prepare boundary data`). A solution to this is to try defining the `str_tree` parameter as `FALSE` or skip the boundary matrix all together. If the boundary matrix is skipped, the `Spatial clustering` setting

[2022-08-25 12:40] ricschuster commented on #230
Thanks Dan! What do you think about a check box to allow users to skip the boundary matrix on the 'upload shapefile' screen?

[2022-08-25 19:49] DanWismer commented on #230
I am wondering if I can use the same checkbox for turning off mapping? The logic is that if you are already turning of mapping because it is a large project, then you may as well skip the boundary calculation.

Alternatively, I could wrap it in a `try` statement, and if the boundary fails to build, then continue on. However, that may just be unnessaary processing if you know the project is large..

[2022-08-25 20:38] ricschuster commented on #230
I like the idea of including this with turning off mapping. For raster datasets this would also make sense, because if the problem is big enough for a user to want to turn off mapping, its probably also too big to reasonably include the spatial clumping.

[2022-08-25 20:58] DanWismer opened #234 "No stop button in dev mode"
@jeffreyhanson

I just recently noticed that when I run Where To Work locally (`run_dev.r`) I don't ever see the stop button when I hit optimize. I understand this is where the async kicks in. Is that something that only goes when in a docker container and then the stop button shows?

[2022-08-26 12:49] jeffreyhanson commented on #234
Hmm, I have a vague recollection that the asynch stuff might not work on Windows properly (because it relies on FORK clusters?), so I might have been clever enough to hide the stop button on Windows systems. Or I might be making this up? Not sure. I'd recommend looking through the code sorry. If it's not easy to figure out, we can look at this during the next meeting?

[2022-08-26 14:00] DanWismer commented on #234
Bingo, that's exactly what you did! In the `server_initialize_app.R` you hide the stop button if the `strategy` variable is not identical to `multicore`. In `app_globale.R` is where the `strategy` variable is defined:

[code]
I am on windows so I think the strategy variable gets set to `multisession` ?

[2022-08-26 14:06] jeffreyhanson commented on #234
Ah - awesome! Yeah, if the golem parameters specify that the strategy variable should be automatically determined, then the strategy variable gets set to `"multisession"` on Windows.

[2022-08-26 14:08] #227 closed

[2022-08-26 14:18] #234 closed

[2022-08-29 13:42] ricschuster opened #236 "Tool weights vs `add_feature_weights` in prioritizr"
This question is mostly for @jeffreyhanson I think:

Using the `Total area budget` in Where To Work do you think the `Weights` would/could preform in a similar way to the `add_feature_weights` function in prioritizr if the layers in `Weights` would mirror the `Themes` layers?

Not sure if you have ever tested this, but I was wondering what your thoughts were on this?

(Its mostly for documentation

[2022-08-29 15:08] jeffreyhanson commented on #236
Technically, when using a total area budget, the Weights are added as features with targets set according to the weight factor (see  https://github.com/NCC-CNC/wheretowork/blob/master/R/fct_min_shortfall_result.R#L228-L273) - so I don't think so. If you had the same layer as a Weight and as a Feature/Theme, then this would be like including the same feature twice in the optimization problem with t

[2022-08-29 15:25] ricschuster commented on #236
Thanks Jeff! Makes sense.
Is there a way in the current `Where To Work` tool setup you can think of that could somewhat emulate the `add_feature_weights` functionality?
Aside from adding that feature to `Where To Work` the way I described above seemed the closest I could think of.

[2022-08-29 15:32] jeffreyhanson commented on #236
Yeah, it's not really possible with the current set up. I beleive the reason why we might have previously scrapped this idea is because we would need to (1) update the app to store information on feature weights, (2) update the data format to store information on weights, (3) come up with some terminology to distinguish between the Weights currently implemented in the app and relative importance m

[2022-08-29 16:13] ricschuster commented on #236
Thanks Jeff!
Yes to all four points you mentioned. Seemed and seems like a reasonable trade-off here. Adding weights would complicate things considerably.

[2022-08-29 16:13] #236 closed

[2022-08-31 13:33] jeffreyhanson opened #237 "rcbc installation source"
The DESCRIPTION file specifies that the rcbc package should be obtained from the remote `jeffreyhanson/rcbc`. It should instead refer to the official source which is `dirkschumacher/rcbc`. When you get a chance @DanWismer, could you update it?

[2022-08-31 20:31] DanWismer opened #238 "no export method on NullLegend"
When using `write_project` function with variables defined as having a `NullLegend`:
`Error in self$variable$export() : attempt to apply non-function`

I think this is because I didn't make an export method on the `NullLegend` class

[2022-09-01 02:16] #238 closed

[2022-09-12 20:59] DanWismer commented on #230
@jeffreyhanson

I was able to get the `min_set_result` to return a `Result` object using a `boundary_data` of `NA`. The next block of code in the `server_generate_new_solution.R` I was getting hung up on is when it hits `new_solution_from_results`. The `Solution` class uses the `reserve_sizes` function from `utils_spatial_misc.R` to calculate statistics results.

The `reserve_sizes` functions uses

[2022-09-12 21:05] jeffreyhanson commented on #230
To my knowledge, it's not possible to calculate reserve sizes without the boundary matrix. Note that I define a "reserve" as a set of planning units (e.g grid cells) that are selected in a prioritization and form a spatially contiguous mass (e.g., they clump togeather into an island). This is because -- in order to split the prioritization into a set of reserves -- we need to know which planning u

[2022-09-12 21:11] DanWismer commented on #230
Thanks for that - to confirm, no boundary matrix means no reserve size calculation? Does returning a value of 0 make the most sense for the `reserve_size` function if `boundary_matrix` is `NA` ? I suppose I would need to somehow change the Summary table to show NA instead of 0 for those values to make it a little more clear for the user.

[2022-09-12 21:12] jeffreyhanson commented on #230
Hmm, I just realized: if this was super important, you could use `adjancency_matrix()` to create an adjacency matrix (which is computationally less demanding than a boundary matrix), which would encode information on which planning units are next to each other (but wouldn't have boundary information needed for boudnary penalties). But you would then want to update the "project file format" to cont

[2022-09-12 21:13] jeffreyhanson commented on #230
Yeah, I think returning `NA` makes the most sense. Yeah, to help improve user experience, I wonder if the JS code could be tweaked such that if the value is a missing number (`NA` value) it shows the text "Unknown" or "Not calculated" or something?

[2022-09-12 21:14] ricschuster commented on #230
Agreed.

[2022-09-12 21:25] DanWismer commented on #230
The only scenario I can think of that we are wanting to skip calculating a boundary matrix is for spatial imports (shapefile) where the user has a ton of planning units. I think asking the user to submit an additional adjacency matrix would trip them up. I assume generating that adjacency matrix on the fly would be time consuming as well. I think for now I will go with that NA approach you mention

[2022-09-12 21:45] jeffreyhanson commented on #230
Yeah sounds good!

Yeah, the adjancy matrix function provides data on the spatial arrangement of planning units to work out which planning units form reserves. Although you're right -- that approach would definitely work -- I don't think it wouldn't be as performant as using the adjacency matrix and reserve size functions implemented in the tool. This is because if you're dissolving planning units

[2022-09-14 14:13] DanWismer commented on #230
Thanks for that explanation @jeffreyhanson. That's pretty cool that you can figure out connected planning units all from area. I will give the `adjacency_matrix` a shot in a different PR. For now I will stick with the low-tech "Not calculated" approach and circle back to this later.

Having no boundary data, I am disabling the `Spatial clustering` setting. Do I also need to disable the `Total area

[2022-09-14 14:18] jeffreyhanson commented on #230
No worries! Yeah - sounds good! Yeah, disabling the spatial clsutering setting sounds like a good idea. Nah, the the total area budget can remain I think (since the code just needs the total area of each planning unit - which is computed using the GIS planning unit data, e.g. shapefile - and not the boundary data).

[2022-09-15 16:08] DanWismer opened #241 "html widget error when selecting "upload shapefile" as the import method. Everything still works with this error."
I noticed this error in the console when you select upload shapefile:
![image](https://user-images.githubusercontent.com/29556279/190453328-082cdb1a-43e7-4a07-949d-6e9b2fd16840.png)

Everything still works - just noting it here to investigate later.

[2022-09-15 16:23] jeffreyhanson commented on #241
Ah - good catch! Yeah, we ideally shouldn't have any JS errors, so would be great to fix.

[2022-09-15 18:28] ricschuster opened #242 ""Hide theme, weight and include layers" for built-in projects"
It would be great if we could have the `Hide theme, weight and include layers` toggle for built-in projects as well.

[2022-09-19 19:11] DanWismer commented on #230
Get this error when app is ran inside a docker container:
`Warning: Error in methods::as: no method or default for coercing “matrix” to “dgCMatrix”`

[2022-09-19 22:42] #230 closed

[2022-09-20 08:25] XavierCLL opened #244 "Error with the wheretowork docker image"
Hi,

Recently I tried to run my own local wheretowork clone but suddenly it shows me the following error:

[code]

I have tried cleaning all the docker cache and pulling and building again the docker-compose and nothing, it continues with that issue, any ideas?

Thank you guys!

Xavier

[2022-09-20 14:28] DanWismer opened #245 "Enable "hide solution layer" when user hides themes, weights and include layers on shapefile import"
I figure if the hide layers is enabled, then the amount of polygons for the solution to map may freeze the app

[2022-09-20 14:38] DanWismer commented on #244
Hi Xavier,

I am wondering if it has to do with container `cap-bc-webtool-app-1`. I notice that if I don't stop and remove a container, and then do docker-compose, it causes me problems and advances the name of the container (ex. `cap-bc-webtool-app-1`, `cap-bc-webtool-app-2`, `cap-bc-webtool-app-3`. etc.)

Some other useful docker commands is `docker ps -a` and then I take the `ID` and explicitly

[2022-09-20 23:09] XavierCLL commented on #244
Hi @DanWismer

Thanks for your response, and yes I did it, I cleaned all docker images, cache and overlay2, I even deleted everything docker configurations and volumes (deleting the `/var/lib/docker` in Linux) to build from scratch and nothing, same error.

Either there is something happening with my docker on my computer (but I dough it, other docker images work) or you don't have that issue beca

[2022-09-20 23:58] XavierCLL commented on #244
I found the issue!

I'm gonna describe this as a reference to this issue if someone has a similar problem because the error is not descriptive. I used a symbolic directory to test some data into the project directory, but in general docker container can't open symlinked file in volume mount during startup, and that was the issue.

[2022-09-20 23:58] #244 closed

[2022-09-21 14:10] DanWismer commented on #244
Nice work finding the issue! Ok that is good to know. I also had to hard code full file paths to attach data on my C: drive as a volume. When I use relative paths, the data never showed in the local Docker container.

[2022-09-21 21:12] DanWismer opened #246 "Manual legend with 1 value does not display correctly"
I have features which cover the entire AOI with a value of 1. When I create the manual legend, it displays like this:

![image](https://user-images.githubusercontent.com/29556279/191611254-a4041eec-4b9d-4e64-86a7-74b3540463f0.png)

[2022-09-22 13:04] jeffreyhanson opened #247 "reduce memory footprint of theme, weight, include coverage calculations"
I recently realized that the code in prioritizr for calculating feature representation was wasteful in terms of memory, because it needelessly stored data in a regular sparse matrix format -- when a sparse matrix format could be used to reduce memory usage. It also seems like switching over to a sparse matrix format and using matrix multiplication operations also reduces run time too. So, I had a

[2022-09-22 14:17] DanWismer commented on #246
For some reason, it is not treating that legend as an array:
![image](https://user-images.githubusercontent.com/29556279/191771628-32429a39-7dcd-4c6d-ab6b-4dd061f60501.png)

[2022-09-22 14:22] ricschuster commented on #246
Could it be related to the values stored in that dataset? Are the integers, characters, float?

[2022-09-22 14:23] DanWismer commented on #246
In the console, I get warning messages as if it is creating the 1 value 1 colour 1 label manual legend as continuous:
![image](https://user-images.githubusercontent.com/29556279/191772913-adcbec55-0413-43d6-bf49-1063b865c002.png)

[2022-09-22 14:24] ricschuster commented on #246
What's the range of values you have in the data?

[2022-09-22 14:27] DanWismer commented on #246
There is only one value in the data which is 1. The layer covers the entire study area.

More of a prioritization theory question here:
If a species binary layer covers the entire study area, does it make sense to just drop it as we know what ever site selection there is, that species will be represented?

[2022-09-22 14:54] ricschuster commented on #246
If there is only a values of 1 the legend should only have one value and not an array, unless I am missing something?

I would not drop the layer, because we might still want to set a goal for that species. Depending on the locations and distributions of other species, we still want to include some information on that species. It might lead to the line patterns you sometimes see, which is informat

[2022-09-22 15:01] DanWismer commented on #246
Good to know, as there are a few layers in this ECCC project that have species of full coverage which causes that line like output.

And yes, you are right, if there is only 1 value in the data, the legend should just show that 1 value with that 1 colour. However there is something up in the code which is treating the individual characters in the label as the classes with manual legend. For exampl

[2022-09-22 15:45] DanWismer commented on #246
Bingo! I had to force the values and colors into a JS array for data with only 1 value and 1 colour.

![image](https://user-images.githubusercontent.com/29556279/191792303-dfac67f8-f0f7-42fa-b5b1-58d1649e9485.png)

[2022-09-22 16:30] DanWismer commented on #247
Amazing, nice work Jeff. I will make those changes.

[2022-09-22 18:53] #246 closed

[2022-09-26 18:58] DanWismer commented on #247
I get an error on the example `calculate_coverage` with the new LOC:

`Error in out %*% data :
Cholmod error 'A and B inner dimensions must match' at file ../MatrixOps/cholmod_ssmult.c, line 80`

[2022-09-26 19:05] DanWismer commented on #247
[code]

Where data:
![image](https://user-images.githubusercontent.com/29556279/192359081-0305a0f9-c0fd-4870-9181-aaba4cb052e3.png)

And `out <- Matrix::Matrix(x, byrow = TRUE, ncol = 1, nrow = length(x), sparse = TRUE)` :
![image](https://user-images.githubusercontent.com/29556279/192359278-4503107d-1642-41ea-9ed9-f22bb6959b4c.png)

[2022-09-26 19:06] DanWismer commented on #247
I think it is the `out %*% data` causing the issue

[2022-09-26 19:09] jeffreyhanson commented on #247
Ah yeah that's it. Sorry it should be `data %*% out` (not `out %*% data`).

[2022-09-26 19:12] DanWismer commented on #247
Awesome, that worked - the example code now runs!  Will run a few more tests and update to production

[2022-09-26 19:53] DanWismer commented on #237
I have changed the `Remotes:` to `dirkschumacher/rcbc` in the `DESCRIPTION` file. I beleive the next step is to do a `renv::snapshot(type = "explicit")`

This gives me the following message:
![image](https://user-images.githubusercontent.com/29556279/192367341-209ab2e6-55bf-49e2-9956-d1e4a7446539.png)

I think I am good to say yes? need a refresh myself on the renv stuff...

[2022-09-26 19:54] jeffreyhanson commented on #237
Yeah thats fine - it's just asking to confirm if you want to update the version of rcbc in renv

[2022-09-26 20:03] DanWismer commented on #119
@ricschuster could we use the `calculate_targets` function here to set goals for the user that reflect the proportion of features:

[code]

[2022-09-27 01:06] #247 closed

[2022-09-27 17:36] DanWismer opened #252 "total area budget setting not working"
I messed something up in the `ParameterSettting-class.js` code when implementing the "hide solution layer" PR

[2022-09-28 19:51] DanWismer commented on #237
@jeffreyhanson I think something is up with installing rcbc with `wheretowork`

![image](https://user-images.githubusercontent.com/29556279/192875537-ea4d1428-c4b5-43ac-9686-47ad8a427905.png)

[2022-09-28 19:53] jeffreyhanson commented on #237
Ah that's odd - can you install it normally on your computer (i.e., outside of renv)?

[2022-09-28 20:03] DanWismer commented on #237
We get this:
![image](https://user-images.githubusercontent.com/29556279/192877779-aa2fa06f-1f01-4956-af5e-6f02ef433840.png)

[2022-09-28 20:03] jeffreyhanson commented on #237
Hmm, do they have rtools installed on their computer?

[2022-09-28 20:04] jeffreyhanson commented on #237
Also, anything before the `ERROR: .....`?

[2022-09-28 20:04] jeffreyhanson commented on #237
Also, anything before the `ERROR: .....`?

[2022-09-28 20:07] DanWismer commented on #237
This is the full message:
![image](https://user-images.githubusercontent.com/29556279/192878396-3d9a13b3-9c3e-40be-83bf-49704aad0fc9.png)

[2022-09-28 20:10] jeffreyhanson commented on #237
what if they try R 4.1.2?

[2022-09-28 20:12] jeffreyhanson commented on #237
I dunno sorry, I would have expected this to work. @ricschuster, can you try installing rcbc on your computer? Would be good to work out if this is a rcbc or personal computer issue.

[2022-09-28 20:17] jeffreyhanson commented on #237
is this 32 bit or 64 bit R? I'd recommend trying with 64 bit if possible.

[2022-09-28 20:24] jeffreyhanson commented on #237
Looks like Windows installation for rcbc might not work on R version 4.2+ (see "Linking to pre-built static libraries" in https://cran.r-project.org/bin/windows/base/howto-R-4.2.html)

[2022-09-28 20:26] jeffreyhanson commented on #237
Quick fix might be to downgrade R to 4.1.3, uninstall rtools42, install rtools40, and then try rcbc. Better solution would be to update rcbc - but dunno how to do this.

[2022-09-28 20:27] ricschuster commented on #237
Yes, I think that's it or I at least vaguely remember running into that issue.

[2022-09-28 20:27] DanWismer commented on #237
ok cool we will give the downgrade a try and see what happens. Thanks for all this insight

[2022-09-28 20:35] jeffreyhanson commented on #237
If you still have 4.2.1 handy, could you try installing this `remotes::install_github("jeffreyhanson/rcbc@ucrt")`? Just had an idea for a potential quick fix

[2022-09-28 20:46] DanWismer commented on #237
Awesome, we got it to work. I am wondering how we should communicate this with new users?

[2022-09-28 20:50] jeffreyhanson commented on #237
Hmm, we ideally want to get rcbc working on 4.2+ - so that prioritizr users can use rcbc too. For the moment, maybe consider updating the wheretowork README to mention Windows users need to use R 4.1.3 and it doesn't work on 4.2+?

[2022-09-28 21:10] jeffreyhanson commented on #237
If the uct branch doesn't work, @DanWismer, could you try following the instructions under "Using findLinkingOrder with Rtools42 (tiff package example)" to find the correct linker flags (but substituting cbc as needed)?

[2022-09-29 15:38] #242 closed

[2022-09-29 22:54] #245 closed

[2022-10-17 04:28] jeffreyhanson opened #254 "potential speedup for rendering rasters?"
I stumbled across the `leafem::addGeoRaster()` function (see https://www.rdocumentation.org/packages/leafem/versions/0.2.0/topics/addGeoRaster) which claims to provide optimized rendering for large raster datasets. It would seem that it functions as a drop-in-replacement for `leaflet::addRasterImage()`, so using it should hopefully not be too tricky? When you get a chance @DanWismer, this might be

[2022-10-25 14:14] DanWismer opened #255 "excludes"

[2022-11-02 14:28] DanWismer commented on #255
@jeffreyhanson

What are your thoughts on how to handle when an exclude overlaps an include? My gut is saying the include should win in those cases. Also, some type of message should be prompted to the user indicating that there is overlap between the exclude and the include layer. I am just thinking where the best place is to put that message.... maybe as a new row in the summary output?

![image

[2022-11-02 14:39] DanWismer opened #256 "What does the Factor describe on the Solution results weights?"
![image](https://user-images.githubusercontent.com/29556279/199518719-73f67523-b899-4fb2-a956-8cbb91e8526f.png)

[2022-11-02 15:22] DanWismer commented on #255
Another questions here....
I have hade some runs show results not having 100% includes:
![image](https://user-images.githubusercontent.com/29556279/199528569-d34715c1-3780-4099-8336-b822f511712f.png)

Any idea why the output wouldn't consider all the included areas in the solution? I get this when I increase some of the theme goals and also have the excludes on.

[2022-11-02 16:37] DanWismer commented on #255
Another question...

Does anyone have experience with this error: `Error: argument to initial solution does not obey col_ub`

I get it on the `test_min_set_result` , spatial clustering

[2022-11-02 23:12] jeffreyhanson commented on #255
Hi,

With regards to your questions:

Yeah, I agree with including the include and not excluding the exclude. Rather than having this message in the output, what do you think about having it come up when the user toggles on the include/exclude? E.g., if the app has an include toggled on, and they toggle on an overlapping exclude, a popup could appear that tells the user about this issue and says t

[2022-11-03 19:04] DanWismer commented on #255
Thanks @jeffreyhanson for those comments.

I like that idea of having the pop-up show on toggle in the new solution side bar indicating if an exclude overlaps an include. I can give that a go. I force all excludes to have a status of `FALSE` (toggled off) on init and will only show the overlap message with excludes toggled (instead of showing the overlap message for both includes toggled and exclu

[2022-11-03 21:55] jeffreyhanson commented on #255
Sounds good! Even though the excludes start as toggled off, it might be worth thinking about having the popup display when an include is toggled on, because (1) at the start, the exclude is toggled off and the include is toggled on, (2) the user could toggle off the include, (3) the user could toggle on the exclude, and then (4) the user could toggle the include back on. Thus the user could toggle

[2022-11-07 16:04] DanWismer commented on #255
I figured out how to track the includes and excludes that overlap. Now I am working on how to best display that to the user. Currently I have it as a pop-up when the user toggles on an exclude or include:
![image](https://user-images.githubusercontent.com/29556279/200356055-4199f653-81df-452c-b114-edce04da9d9d.png)

However, I am now thinking that it would be better (less complicated code as well)

[2022-11-07 18:30] DanWismer commented on #255
I think this is cleaner:
![image](https://user-images.githubusercontent.com/29556279/200387028-8fb75bf2-231a-48c4-ba8f-57b4b494ea0a.png)

![image](https://user-images.githubusercontent.com/29556279/200387181-2e5caa1b-ca22-489c-9e0c-695ca5bf6657.png)

[2022-11-07 20:37] jeffreyhanson commented on #255
Yeah - that's genius - awesome work!!

[2022-11-07 20:46] ricschuster commented on #255
Agreed. This is awesome Dan!

[2022-11-10 16:57] DanWismer commented on #255
I have a  scenario where the user may want the `exclude` to win over the `include` in a solution.

For example, we have a WtW Prairie Grassland project that spans over AB, SK and MB. Data has been prepped to cover those three regions, however we have a scenario where we want to limit the solution to only a single region.

Currently, you would need to got back and prep data so that there are three

[2022-11-14 06:42] kushalg-1212 opened #259 "Login Page"
Hello ,
I deployed this app using the standard docker procedure and works pretty perfectly
Is there a way i get a little guidance on the login page as the app opens normally and when i see your online version it asks me to login  ,
Is is something that's not available publicly or i need to do some modifications

Thanks

[2022-11-14 15:23] DanWismer commented on #259
The online version uses ShinyProxy for user authentication to access other apps. We have some development apps that are password protected for certain users.

[2022-11-15 22:52] jeffreyhanson commented on #259
I'm sorry, I don't really have that much experience with authentification stuff in ShinyProxy. I'd suggest posting an issue on the ShinyProxy repo (https://github.com/openanalytics/shinyproxy), maybe one of the developers there could help you?

[2022-11-17 18:42] DanWismer commented on #255
@jeffreyhanson

I have a suspicion that something is up with how intermediate data is cached in `min_set_result` and `min_shortfall_result` and how the exclude / include overlap works.

For example, when I spin up the app and have includes wins, includes win the overlap. Then when run a second time, only changing the overlap setting for excludes to win, includes still win. However, if I change the

[2022-11-17 18:52] DanWismer commented on #255
... ok I think all I needed to do was pass the `overlap` flag to the cache keys:
![image](https://user-images.githubusercontent.com/29556279/202533215-7cc44139-61df-43cc-bd61-1fcd0cc0dcaf.png)

[2022-11-17 19:42] jeffreyhanson commented on #255
Yeah, that sounds like that would fix it

[2022-11-21 15:36] DanWismer opened #262 "grouped themes can not have different units"
@jeffreyhanson

I noticed I can not create grouped themes with different units. For example, we have a Land Cover theme with wetland, forest, grassland, lakes, rivers and shoreline. River and shoreline are lengths (km) and everything else is area (km2). Ideally it would be nice to group all of those layers under the one theme - Land cover.

What your thoughts are on this? Would a grouped theme wit

[2022-11-21 16:11] DanWismer opened #263 "custom tool tip description for each setting"
Currently all the tool tips for each setting are the same:
![image](https://user-images.githubusercontent.com/29556279/203103330-3c3ce10a-e94a-4dce-a9c1-c0ca9dbb8f44.png)

 It would be nice to have a custom description for each setting

[2022-11-21 19:47] jeffreyhanson commented on #262
Yeah, that's exactly correct - the features in a multi-theme object must all have the same units. I think the rationale behind this was so that we can display percentages and units for the multi-themes when viewed (1) in "group" mode in the advanced version and (2) in the beginner version of the app (which only shows the group mode). E.g., here's the screenshot of the "Biodiversity" multi-theme in

[2022-11-21 19:58] DanWismer commented on #262
One way that comes to mind is to have the label just display "units" for grouped themes with mixed units along with an icon on hover that says that the grouped theme has mixed units. And maybe listing the different units (km2, km and ha)

[2022-11-21 20:11] jeffreyhanson commented on #262
Hmm, so the label would say something like ">= 8% (>= 12 km^2, >= 3 ha)"? IIRC, in an earlier version of the app, we just had percentages, but we got feedback that this was hard for users to understand. So we put in the absolute numbers and units so people could have a better understanding of what the settings mean.

[2022-11-21 20:16] DanWismer commented on #262
I was more thinking of an icon with a tool tip that's says `this grouped theme has the following mixed units: km2, km` . And the label will just say `units`

Would that work?

[2022-11-21 20:35] jeffreyhanson commented on #262
Oh - so which number would be displayed in the label? At the moment, it's the minimum - and this sort of makes sense to me because all the values are in the same units so you can directly compare them (e.g. 3000 ha is larger than 2000 ha). If we have different features with different units, then some features might have much smaller values than other ones due to the nature of the units (e.g. ha of

[2022-11-21 20:37] jeffreyhanson commented on #262
Sorry, this might be a silly question, but would it be possible to report river and shoreline data in km2? E.g., could you (1) apply a buffer to the shoreline to convert from line to polygon, (2) use river width data to create a polygon, and then (3) calculate the amount of river and shoreline km^2 within each planning unit?

[2022-11-21 20:39] jeffreyhanson commented on #262
Perhaps these data might work for river widths (https://www.science.org/doi/10.1126/science.aat0636, https://zenodo.org/record/1297434)?

[2022-11-21 20:58] DanWismer commented on #262
ah yes, I was wondering about that. hmmm, I may need to sit on this for a bit.

[2022-11-21 21:01] DanWismer commented on #262
What I am currently doing is creating a theme called Lengths and putting river and shoreline in there. I think that approach above would work, however I am not to sure we have width data on our rivers.

[2022-11-21 21:13] jeffreyhanson commented on #262
Ah ok - the dataset I posted above is apparantly global so might have what you're looking for.

[2022-11-25 21:48] #255 closed